* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  vertical-align: baseline;
  box-sizing: border-box;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

button,
a {
  cursor: pointer;
  font-weight: 700;
}

body {
  font-size: 18px;
  line-height: 26px;
}

header {
  background-color: #323264;
}

.container {
  max-width: 1440px;
  z-index: 2;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 1024px) {
  .container {
    padding: 0 60px;
  }
}

.container-mobile {
  display: none;
}
.container-mobile .flex.wrapper {
  display: none;
}

.gradient-text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(118deg, #ef8080 0%, #f0145a 100%);
}

.gradient-red-text {
  background: linear-gradient(118deg, #f0145a 0%, #ef8080 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  font-size: 32px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 42px;
  }
}

h2 {
  font-size: 22px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 32px;
  }
}

.flex {
  display: flex;
}
.flex > li {
  list-style: none;
}
@media (max-width: 768px) {
  .flex ul.flex {
    list-style: none;
  }
  .flex li {
    list-style: none;
  }
}

.small-btn {
  background: transparent;
  font-weight: 700;
  width: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 8px;
  transition: background-color 0.3s ease-in;
}
.small-btn:hover:not(.active) {
  background-color: #ededf7;
  color: black;
  transition: color 0.3s;
}
.small-btn.active {
  background: #f0145a;
}

.header {
  padding-top: 50px;
  width: 100%;
  color: white;
  background: #323264;
  border: none;
}
.header .flex.wrapper {
  align-items: center;
  gap: 24px;
  justify-content: space-between;
  z-index: 2;
}
.header .first-row {
  gap: 5px;
  align-items: center;
}
.header .first-row ul {
  gap: 8px;
  margin-left: 8px;
  list-style-position: inside;
  align-items: center;
}
.header .first-row ul li svg {
  fill: red;
}
.header .first-row ul img {
  width: 24px;
  height: 24px;
  vertical-align: top;
}
.header .first-row nav {
  gap: 15px;
  margin-top: 20px;
  justify-content: flex-end;
}
.header.white .small-btn {
  color: inherit;
}
@media (max-width: 800px) {
  .header ul.flex li {
    list-style: none;
    text-decoration: none;
  }
}

.sendform-wrapper {
  background-color: #f5f5fa;
  width: 40%;
  border-radius: 12px;
  margin-bottom: 60px;
}
.sendform-wrapper .sendform {
  margin: 0 auto;
  padding: 30px;
}
.sendform-wrapper .sendform h2 {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: linear-gradient(118deg, #f0145a 0%, #ef8080 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sendform-wrapper .sendform .input {
  width: 100%;
  margin: 15px 0;
  border-radius: 8px;
  padding: 15px;
  border: 1px solid #fff;
  transition: all 0.5s;
}
.sendform-wrapper .sendform .input:focus {
  border: 1px solid #24a3ff;
}
.sendform-wrapper .sendform .input:invalid {
  border: 1px solid red;
  color: red;
}
.sendform-wrapper .sendform .input:disabled {
  border-color: #ededf7;
  background: #ededf7;
}
.sendform-wrapper .sendform .input:disabled::-moz-placeholder {
  color: #b3b3ba;
}
.sendform-wrapper .sendform .input:disabled::placeholder {
  color: #b3b3ba;
}
.sendform-wrapper .sendform textarea {
  height: 130px;
}
.sendform-wrapper .sendform h3 {
  color: #b3b3ba;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-top: 30px;
}
.sendform-wrapper .sendform .loader {
  display: none;
}
.sendform-wrapper .sendform .btn {
  padding: 18px 30px;
  width: 100%;
  border-radius: 12px;
  color: #fff;
  background: #24a3ff;
  box-shadow: 0px 0px 20px 0px rgba(36, 163, 255, 0.5);
  transition: all 0.5s;
  margin-top: 15px;
}
.sendform-wrapper .sendform .btn:hover {
  background: #0085ff;
}
.sendform-wrapper .sendform .btn:active {
  background: #006ccf;
}
.sendform-wrapper .sendform .btn:disabled {
  border-color: #ededf7;
  background: #ededf7;
}
.sendform-wrapper .sendform .btn:disabled::-moz-placeholder {
  color: #b3b3ba;
}
.sendform-wrapper .sendform .btn:disabled::placeholder {
  color: #b3b3ba;
}
.sendform-wrapper .sendform .btn.loading .loader {
  display: block;
  margin: 0 auto;
  animation: 1.2s linear infinite both circle--animation;
}
.sendform-wrapper .sendform .btn.loading span {
  display: none;
}

@keyframes circle--animation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=base.css.map */