@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  vertical-align: baseline;
  box-sizing: border-box;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

button,
a {
  cursor: pointer;
  font-weight: 700;
}

body {
  font-size: 18px;
  line-height: 26px;
}

header {
  background-color: #323264;
}

.container {
  max-width: 1440px;
  z-index: 2;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 1024px) {
  .container {
    padding: 0 60px;
  }
}

.container-mobile {
  display: none;
}
.container-mobile .flex.wrapper {
  display: none;
}

.gradient-text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(118deg, #ef8080 0%, #f0145a 100%);
}

.gradient-red-text {
  background: linear-gradient(118deg, #f0145a 0%, #ef8080 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  font-size: 32px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 42px;
  }
}

h2 {
  font-size: 22px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 32px;
  }
}

.flex {
  display: flex;
}
.flex > li {
  list-style: none;
}
@media (max-width: 768px) {
  .flex ul.flex {
    list-style: none;
  }
  .flex li {
    list-style: none;
  }
}

.small-btn {
  background: transparent;
  font-weight: 700;
  width: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 8px;
  transition: background-color 0.3s ease-in;
}
.small-btn:hover:not(.active) {
  background-color: #ededf7;
  color: black;
  transition: color 0.3s;
}
.small-btn.active {
  background: #f0145a;
}

.header {
  padding-top: 50px;
  width: 100%;
  color: white;
  background: #323264;
  border: none;
}
.header .flex.wrapper {
  align-items: center;
  gap: 24px;
  justify-content: space-between;
  z-index: 2;
}
.header .first-row {
  gap: 5px;
  align-items: center;
}
.header .first-row ul {
  gap: 8px;
  margin-left: 8px;
  list-style-position: inside;
  align-items: center;
}
.header .first-row ul li svg {
  fill: red;
}
.header .first-row ul img {
  width: 24px;
  height: 24px;
  vertical-align: top;
}
.header .first-row nav {
  gap: 15px;
  margin-top: 20px;
  justify-content: flex-end;
}
.header.white .small-btn {
  color: inherit;
}
@media (max-width: 800px) {
  .header ul.flex li {
    list-style: none;
    text-decoration: none;
  }
}

@keyframes circle--animation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.popup {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup:target .popup__content {
  transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
  opacity: 1;
}

.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.popup__content {
  background-color: #f5f5fa;
  color: #000;
  height: 100%;
  max-width: 700px;
  padding: 30px;
  position: relative;
  z-index: 3;
  border-radius: 12px;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

.popup__close {
  position: absolute;
  z-index: 3;
  padding: 5px;
  background-color: inherit;
  border-radius: 8px;
  right: 15px;
  top: 15px;
  font-size: 25px;
  color: red;
}
.popup__close:hover {
  background-color: #E6E6F0;
}

.popup__title {
  font-size: 40px;
  margin: 0 0 1em 0;
}

.sendform-wrapper-modal {
  background-color: #f5f5fa;
  position: relative;
  top: 0;
  left: 0;
  margin: 0 auto;
  max-width: 750px;
  height: 100%;
  border-radius: 12px;
  margin-bottom: 0;
}
.sendform-wrapper-modal .sendform {
  margin: 0 auto;
  padding: 30px;
}
.sendform-wrapper-modal .sendform h2 {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: linear-gradient(118deg, #f0145a 0%, #ef8080 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sendform-wrapper-modal .sendform .input {
  width: 100%;
  margin: 15px 0;
  border-radius: 8px;
  padding: 15px;
  border: 1px solid #fff;
  transition: all 0.5s;
  font-size: 16px;
}
.sendform-wrapper-modal .sendform .input:focus {
  border: 1px solid #24a3ff;
}
.sendform-wrapper-modal .sendform .input:invalid {
  border: 1px solid red;
  color: red;
}
.sendform-wrapper-modal .sendform .input:disabled {
  border-color: #ededf7;
  background: #ededf7;
}
.sendform-wrapper-modal .sendform .input:disabled::-moz-placeholder {
  color: #b3b3ba;
}
.sendform-wrapper-modal .sendform .input:disabled::placeholder {
  color: #b3b3ba;
}
.sendform-wrapper-modal .sendform textarea {
  height: 130px;
}
.sendform-wrapper-modal .sendform h3 {
  color: #b3b3ba;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 0;
}
.sendform-wrapper-modal .sendform .loader {
  display: none;
}
.sendform-wrapper-modal .sendform .btn {
  padding: 18px 30px;
  width: 100%;
  border-radius: 12px;
  color: #fff;
  background: #24a3ff;
  box-shadow: 0px 0px 20px 0px rgba(36, 163, 255, 0.5);
  transition: all 0.5s;
  margin-top: 15px;
}
.sendform-wrapper-modal .sendform .btn:hover {
  background: #0085ff;
}
.sendform-wrapper-modal .sendform .btn:active {
  background: #006ccf;
}
.sendform-wrapper-modal .sendform .btn:disabled {
  border-color: #ededf7;
  background: #ededf7;
}
.sendform-wrapper-modal .sendform .btn:disabled::-moz-placeholder {
  color: #b3b3ba;
}
.sendform-wrapper-modal .sendform .btn:disabled::placeholder {
  color: #b3b3ba;
}
.sendform-wrapper-modal .sendform .btn.loading .loader {
  display: block;
  margin: 0 auto;
  animation: 1.2s linear infinite both circle--animation;
}
.sendform-wrapper-modal .sendform .btn.loading span {
  display: none;
}

@media (max-width: 1115px) {
  .sendform-wrapper-modal .sendform {
    padding: 10px;
  }
  .sendform-wrapper-modal .sendform h3 {
    padding-top: 0;
  }
  .sendform-wrapper-modal .sendform .input {
    margin: 10px 0;
  }
}
@media (max-width: 900px) {
  body {
    overflow-x: hidden;
  }
  .popup__body {
    margin-top: 110px;
  }
  .popup__area {
    width: 95%;
  }
}
@media (max-width: 640px) {
  .sendform-wrapper-modal .sendform h2 {
    font-size: 20px;
  }
  .sendform-wrapper-modal .sendform .input {
    font-size: 14px;
  }
}
header {
  background-color: #323264;
}

.section-1 {
  overflow: hidden;
  min-height: 100vh;
  border-radius: 0 0 12px 12px;
  padding-top: 152px;
  background: linear-gradient(135deg, #323264 0%, #323264 73.96%, #a54b5f 100%);
  z-index: -3;
}
.section-1 .logo {
  height: auto;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.section-1 .logo p {
  font-size: 38px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  color: #fff;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 55%;
  transform: translate(-50%, -55%);
  left: 50%;
  z-index: 2;
}
.section-1 .h-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: 100%;
  max-height: 799px;
  transform: translate(-50%, -55%);
  z-index: 1;
  max-width: 100%;
}
.section-1 .scroll-icon {
  color: white;
  position: absolute;
  z-index: 2;
  top: calc(100% - 72px);
  right: 51%;
}
.section-1 .scroll-icon:hover {
  color: #f0145a;
  transition: color 0.3s;
}
.section-1 > p {
  font-size: 38px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  color: #fff;
  position: absolute;
  top: 33%;
  right: 33%;
  z-index: 2;
}

.container {
  position: relative;
  z-index: 3;
}

.flex li:first-of-type a {
  font-weight: 400;
}
.flex.navigation {
  display: flex;
  justify-content: flex-end;
}
.flex.navigation a {
  padding: 10px 0 0 15px;
}
.flex.navigation a:hover {
  background: linear-gradient(118deg, #f0145a 0%, #ef8080 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: color 0.3s;
}
.flex a:hover {
  background: linear-gradient(118deg, #f0145a 0%, #ef8080 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s;
}
.flex li {
  display: flex;
}
.flex li svg:hover {
  color: #f0145a;
  cursor: pointer;
  transition: color 0.3s;
}
.flex li::before {
  content: "●";
  color: #b3b3ba;
  padding: 0 6px 0 0;
}

.main-container {
  max-width: 1440px;
  margin: 0 auto;
}

.underline-first {
  width: 95%;
  height: 10px;
  border-radius: 0px 0px 12px 12px;
  background: #cacadb;
  margin: 0 auto;
  position: relative;
}

.underline-second {
  width: 90%;
  height: 10px;
  border-radius: 0px 0px 12px 12px;
  background: #e7e7f2;
  margin: 0 auto;
  position: relative;
}

.services-section {
  padding: 185px 60px 60px;
  border-radius: 12px;
}
.services-section a {
  color: #24a3ff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: none;
}
.services-section a span {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}
.services-section a:hover {
  color: #f0145a;
  transition: color 0.3s;
  cursor: pointer;
}
.services-section h2 {
  background: linear-gradient(118deg, #f0145a 0%, #ef8080 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 15px 0 60px;
}
.services-section .services-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 60px;
}
.services-section .services-cards .services-cards_subitems:hover h4 {
  background: linear-gradient(118deg, #f0145a 0%, #ef8080 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s;
}
.services-section .services-cards h4 {
  font-size: 22px;
  font-weight: 700;
  color: #24a3ff;
  padding: 30px 0 15px;
}
.services-section .services-cards p {
  font-size: 16px;
  line-height: 1.63;
  color: #fff;
}
.services-section .services-icons {
  width: 100px;
  position: relative;
  height: 100px;
  border-radius: 24px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-2 {
  background: #fff;
  padding: 40px 16px;
}
.section-2 .slider {
  margin-bottom: 40px;
}
.section-2 .slider__item {
  border-radius: 12px;
  background-color: #ededf7;
  padding: 20px;
  margin: 0 15px;
}
.section-2 .slider__item:hover h3 {
  background: linear-gradient(118deg, #f0145a 0%, #ef8080 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s;
}
@media (min-width: 768px) {
  .section-2 .slider__item {
    padding: 0;
  }
}
.section-2 .slider .slick-dots li button:before {
  opacity: 0.2;
  color: #24a3ff;
  font-size: 16px;
  margin-top: 10px;
}
.section-2 .slider .slick-dots li.slick-active button:before {
  opacity: 1;
}
.section-2 .slider__left-block {
  padding-right: 20px;
  order: 2;
  width: 100%;
}
@media (min-width: 768px) {
  .section-2 .slider__left-block {
    padding: 20px;
    width: 35%;
    min-width: 412px;
    max-width: 412px;
    order: 0;
  }
}
.section-2 .slider__flex {
  display: flex;
  flex-direction: column;
}
.section-2 .slider__flex h2 {
  padding-top: 15px;
  padding-right: 8px;
  background: linear-gradient(118deg, #f0145a 0%, #ef8080 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s;
}
.section-2 .slider__flex h3 {
  color: #24a3ff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.section-2 .slider__flex p {
  color: #b3b3ba;
  font-style: normal;
}
.section-2 .slider__flex p:first-of-type {
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  padding-top: 30px;
}
.section-2 .slider__flex p:last-of-type {
  font-size: 14px;
  font-weight: 400;
  line-height: 157.142857%; /* 22px/14 */
}
.section-2 .slider__flex img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .section-2 .slider__flex {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .section-2 .slider__flex img {
    width: 100%;
    height: 450px;
    border-radius: 0;
    padding: 0;
  }
}

.tabs {
  padding-top: 110vh;
  color: #fff;
}
.tabs h2 {
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 30px;
}
.tabs p {
  font-size: 19px;
  line-height: 1.58;
}

.ui-tabs {
  display: flex;
  align-items: center;
  height: 312px;
  gap: 40px;
  justify-content: center;
}

.ui-tabs-nav {
  display: block;
  overflow-x: auto;
}

.ui-tabs-tab {
  transition: all 0.5s;
  display: block;
  padding-right: 40px;
  border-right: 4px solid gray;
}
.ui-tabs-tab a {
  display: block;
  width: 100%;
  text-align: right;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: gray;
}

.ui-tabs-active {
  border-color: red;
}
.ui-tabs-active a {
  background: linear-gradient(118deg, #f0145a 0%, #ef8080 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ui-tabs-panel {
  width: 60%;
  max-width: 600px;
  padding: 40px 15px;
}

.companies {
  max-width: 1720px;
  margin: 0 auto;
}
.companies h3 {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: normal;
  text-transform: uppercase;
  padding-bottom: 30px;
  color: #323264;
  text-align: center;
}
.companies .company-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border-radius: 12px;
  max-width: 1720px;
}
.companies .company-card {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 1;
}
.companies .company-card.wannabiz img {
  max-height: 32px;
  width: auto;
}
.companies .company-card img {
  max-height: 48px;
  width: auto;
  padding: 5px 12px;
  -o-object-fit: cover;
     object-fit: cover;
}

.company-card:nth-of-type(1) {
  background-color: #1c4280;
}

.company-card:nth-of-type(2) {
  background-color: #143646;
}

.company-card:nth-of-type(3) {
  background: linear-gradient(0deg, #f48b30 0%, #f48b30 100%), #f48b30;
}

.company-card:nth-of-type(4) {
  background-color: #9e4dc3;
}

.company-card:nth-of-type(5) {
  background-color: #fd9339;
}

.company-card:nth-of-type(6) {
  background-color: #e2e2e4;
}

.company-card:nth-of-type(7) {
  background-color: #c71c36;
}

.company-card:nth-of-type(8) {
  background-color: #dcf3f9;
}

.company-card:nth-of-type(9) {
  background-color: #eaeaea;
}

.company-card:nth-of-type(10) {
  background-color: #282240;
}

.company-card:nth-of-type(11) {
  background-color: #1d4568;
}

.company-card:nth-of-type(12) {
  background-color: #000;
}

.publications-wrapper {
  padding: 30px 60px;
  margin: 0 auto;
  max-width: 1720px;
  background: #f5f5fa;
}
.publications-wrapper a {
  text-transform: uppercase;
  color: #24a3ff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
}
.publications-wrapper a:hover {
  color: #f0145a;
  transition: color 0.3s;
}
.publications-wrapper h2 {
  font-size: 38px;
  font-weight: 700;
  line-height: normal;
  background: linear-gradient(118deg, #f0145a 0%, #ef8080 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 15px 0 30px;
}

.publications-cards {
  background: #f5f5fa;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.publications-cards__card {
  background: #fff;
  border-radius: 8px;
  height: 100%;
}
.publications-cards__card:hover h4 {
  color: #f0145a;
  transition: 0.5s color;
}
.publications-cards__card p {
  font-size: 14px;
  line-height: 1.58;
  padding: 15px 30px 30px;
  color: #000;
  text-transform: none;
}
.publications-cards__card img {
  width: 100%;
}
.publications-cards__item h4 {
  font-size: 16px;
  font-weight: 700;
  color: #24a3ff;
  padding: 30px 30px 15px;
  text-transform: none;
}
.publications-cards__item p {
  padding: 0 30px 15px;
  color: #b3b3ba;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.publications-cards__line {
  height: 4px;
  width: 90%;
  padding: 0 30px;
  background-color: #e6e6f0;
  margin: 0 auto;
}

footer {
  background: #f5f5fa;
}
footer .foot-wrapper {
  border-top: 2px solid #b3b3ba;
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
}
footer .foot-wrapper .footer-nav {
  display: flex;
  align-items: center;
  padding: 21px 0 30px;
}
footer .foot-wrapper .footer-nav a {
  font-size: 16px;
  font-weight: 700;
}
footer .foot-wrapper .footer-nav a:nth-last-of-type(1) {
  color: #24a3ff;
}
footer .foot-wrapper .footer-nav a:hover {
  color: #f0145a;
  transition: color 0.3s;
}
footer .foot-wrapper .footer-nav a svg {
  color: #24a3ff;
}
footer .foot-wrapper .footer-nav a svg:hover {
  color: #f0145a;
  transition: color 0.3s;
}
footer .foot-wrapper .footer-nav a:not(:first-of-type):before {
  content: "●";
  color: #b3b3ba;
  padding: 0 10px;
}
footer .foot-wrapper .foot_map {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
footer .foot-wrapper .foot_map .foot_items {
  display: flex;
  align-items: baseline;
}
footer .foot-wrapper .foot_map .foot_items span {
  font-size: 16px;
  color: #323264;
}
footer .foot-wrapper .foot_map .foot_items > a {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24a3ff;
}
footer .foot-wrapper .foot_map .foot_items > a:hover {
  color: #f0145a;
  transition: color 0.3s;
}
footer .foot-wrapper .foot_map .foot_items > a::before {
  content: "●";
  color: #b3b3ba;
}
footer .foot-wrapper .foot_map span {
  font-size: 16px;
  color: #b3b3ba;
}

.container-mobile {
  display: none;
}

.foot-wrapper-mobile {
  display: none;
}

@media (max-width: 1024px) {
  .section-1 .h-logo {
    transform: translate(-43%, -55%);
  }
  .section-1 > p {
    top: 31%;
    right: 9%;
    transform: translate(-22%, 120%);
  }
  .services-section .services-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 45px;
  }
  .services-section .services-cards p {
    padding-bottom: 25px;
  }
  .logo-item {
    right: 12%;
  }
}
@media (max-width: 800px) {
  body {
    max-width: 800px;
  }
  .header .container {
    display: none;
  }
  .container-mobile {
    border-bottom-right-radius: 24px;
    display: flex;
    min-width: 335px;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
    overflow: hidden;
    background-color: #00329e;
    background-image: linear-gradient(225deg, #00329e 0%, #784ba0 50%, #2b86c5 100%);
  }
  .container-mobile .flex.wrapper {
    display: block;
    width: 100%;
  }
  .container-mobile .first-row {
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
    background-color: inherit;
  }
  .container-mobile .buttons {
    display: flex;
    flex-direction: row;
  }
  .container-mobile .second-row {
    display: flex;
    max-width: 95vw;
    position: relative;
    z-index: 2;
    padding: 15px 15px;
  }
  .container-mobile .second-row .logo-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    width: 100%;
    max-width: 169px;
  }
  .container-mobile .second-row .logo-wrapper a {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .container-mobile .second-row .logo-wrapper a p {
    color: #fff;
    font-size: 36px;
    font-style: normal;
    line-height: normal;
  }
  .container-mobile .second-row .logo-wrapper a svg {
    color: #c71c36;
  }
  .container-mobile #menu__toggle {
    opacity: 0;
  }
  .container-mobile #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
    background-color: #f0145a;
  }
  .container-mobile #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
    background-color: #f0145a;
  }
  .container-mobile #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    background-color: #f0145a;
  }
  .container-mobile #menu__toggle:checked ~ .menu__box {
    right: 0 !important;
  }
  .container-mobile .menu__btn {
    position: fixed;
    top: 88px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .container-mobile .menu__btn > span,
  .container-mobile .menu__btn span::before,
  .container-mobile .menu__btn span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #fff;
    transition-duration: 0.25s;
  }
  .container-mobile .menu__btn span::before {
    content: "";
    top: -8px;
  }
  .container-mobile .menu__btn span::after {
    content: "";
    top: 8px;
  }
  .container-mobile .menu__box {
    display: block;
    position: fixed;
    border-radius: 12px;
    bottom: 0;
    right: -130%;
    transform: translate(-9%, 0%);
    width: 85%;
    margin: 0;
    padding-top: 60px;
    list-style: none;
    background-color: #fff;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.25s;
  }
  .container-mobile .menu__box li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5fa;
    border-radius: 12px;
    margin: 15px 12px;
  }
  .container-mobile .menu__box li a {
    font-weight: 700;
  }
  .container-mobile .menu__box li:active {
    background-color: #e6e6f0;
  }
  .container-mobile .menu__box li::before {
    content: "";
  }
  .container-mobile .menu__box li::before a::before {
    content: "";
  }
  .container-mobile .menu__item {
    display: block;
    padding: 12px 24px;
    color: #24a3ff;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    transition-duration: 0.25s;
  }
  .container-mobile .menu__item.current {
    color: #f0145a;
  }
  .container-mobile .menu__item:hover {
    background-color: #cfd8dc;
    transition: color 0.3s;
  }
  .section-1 > p {
    transform: translate(3%, 120%);
  }
  .tabs {
    padding-top: 100vh;
    padding-bottom: 150px;
  }
  .tabs ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
    border-bottom: 4px solid rgba(255, 255, 255, 0.3);
  }
  .ui-tabs {
    display: block;
    gap: 40px;
    height: 312px;
    margin-bottom: 60px;
  }
  .ui-tabs-tab {
    transition: all 0.5s;
    display: block;
    padding-right: 40px;
    border-bottom: none;
    border-right: none;
  }
  .ui-tabs-tab a {
    display: block;
    width: 100%;
    text-align: right;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: gray;
    white-space: nowrap;
    border-bottom: none;
    padding-bottom: 60px;
  }
  .ui-tabs-active {
    border-color: red;
  }
  .ui-tabs-active a {
    background: linear-gradient(118deg, #f0145a 0%, #ef8080 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .ui-tabs-panel {
    width: 100%;
  }
  .services-section {
    padding-top: 275px;
  }
  .companies .company-items {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .publications-cards {
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
  }
  .publications-cards .lastcard {
    grid-column: 1/3;
  }
}
@media (max-width: 640px) {
  .flex.wrapper img {
    width: 69px;
    height: 32px;
  }
  .container-mobile .second-row .logo-wrapper a p {
    font-size: 20px;
  }
  .container-mobile .second-row .logo-wrapper a svg {
    height: 26px;
    color: #f0145a;
    margin-right: 5px;
    padding-right: 0;
  }
  .section-1 {
    overflow: hidden;
  }
  .section-1 > img {
    width: 523px;
    height: 600px;
    max-width: 90%;
  }
  .section-1 > p {
    max-width: 200px;
    transform: translate(-8%, 15%);
  }
  .section-1 .scroll-icon {
    transform: translate(44%, -55%);
  }
  .services-section {
    padding: 275px 30px 60px;
  }
  .services-section h2 {
    padding: 15px 0 30px;
    line-height: normal;
  }
  .services-section .services-cards {
    display: flex;
    flex-direction: column;
  }
  .companies .company-items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .companies .company-card {
    width: 100%;
  }
  .companies .company-card img {
    padding: 0;
  }
  .publications-wrapper {
    padding: 30px;
  }
  .publications-cards {
    display: flex;
    flex-direction: column;
  }
  .foot-wrapper {
    display: none;
  }
  .foot-wrapper-mobile {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    border-top: 2px solid #E6E6F0;
    width: 90%;
    max-width: 640px;
    margin: 0 auto;
  }
  .foot-wrapper-mobile a {
    line-height: normal;
    padding: 10px;
    font-weight: 700;
    color: #24a3ff;
  }
  .foot-wrapper-mobile a:nth-of-type(1) {
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .foot-wrapper-mobile a:nth-of-type(3) {
    color: #323264;
  }
  .foot-wrapper-mobile a:nth-of-type(4) {
    color: #24a3ff;
  }
  .foot-wrapper-mobile a:hover {
    color: #f0145a;
    transition: color 0.3s;
  }
  .foot-wrapper-mobile a svg:hover {
    color: #f0145a;
    transition: color 0.3s;
  }
  .foot-wrapper-mobile span {
    font-size: 16px;
    color: #b3b3ba;
    padding-top: 30px;
  }
  .foot-wrapper-mobile span:nth-of-type(1) {
    color: #000;
  }
}
@media (max-width: 450px) {
  .section-1 > p {
    right: 6%;
  }
  .company-card img {
    max-height: 50%;
  }
}
@media (max-width: 370px) {
  .flex.wrapper img {
    width: 69px;
    height: 32px;
  }
  .logo-item p {
    max-width: 300px;
    margin: 0 auto;
  }
  .logo-item img {
    width: 523px;
    height: 600px;
    overflow: hidden;
  }
}/*# sourceMappingURL=main.css.map */