@use "./base.scss";
@use "./main.scss";
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  vertical-align: baseline;
  box-sizing: border-box;

  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.header {
  padding-top: 50px;
  width: 100%;
  color: white;
  background-color: #fff;
  .flex.wrapper {
    align-items: center;
    gap: 24px;
    justify-content: space-between;
    z-index: 2;
  }
  .logo-wrapper {
    a {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      svg {
        color: base.$accent-color;
      }
      p {
        color: base.$main-color;
        font-size: 36px;
        font-style: normal;
        line-height: normal;
      }
    }
  }

  .first-row {
    gap: 5px;
    align-items: center;
    color: base.$gray-text;
    ul {
      gap: 8px;
      margin-left: 8px;
      list-style-position: inside;
      align-items: center;

      li {
        svg {
          color: base.$gray-text;
          &:hover {
            color: base.$accent-color;
            transition: color 0.3s;
          }
        }
      }
      img {
        width: 24px;
        height: 24px;
        vertical-align: top;
      }
    }
    nav {
      gap: 15px;
      margin-top: 20px;
      justify-content: flex-end;
    }
  }
  .small-btn {
    color: inherit;
    &.active {
      color: #fff;
    }
  }

  .flex {
    &.navigation {
      a {
        padding: 15px 0 0;
        margin-left: 10px;
        color: base.$blue;
        &:nth-of-type(1) {
          background: base.$gradient-red-text;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          border-bottom: 2px solid red;
        }
        &:hover {
          background: base.$gradient-red-text;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          transition: all 0.3s;
        }
        &:active {
          transform: scale(0.9);
        }
      }
      a:hover {
        color: red;
        transition: all 0.5s;
      }
    }
    a:hover {
      color: red;
      transition: all 0.5s;
    }
    li::before {
      content: "●";
      color: #b3b3ba;
      padding: 0 6px;
    }
    li {
      svg {
        fill: #b3b3ba;
      }
    }
  }
}

main .flex {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 60px auto 0;
  max-width: 1360px;
  padding-bottom: 60px;

  &__left {
    width: 45%;
  }
  &__right-top {
    border-left: 4px solid #e6e6f0;
    width: 45%;
    padding-left: 30px;
    .flex-topline {
      padding-bottom: 10px;
    }
    h3 {
      padding-left: 8px;
    }
  }
  &__right {
    width: 45%;
  }

  &__item {
    .flex-topline {
      display: flex;
      h3 {
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        background: linear-gradient(90deg, #f0145a 0.84%, #ef8080 99.96%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    &:not(:last-of-type) {
      padding-bottom: 40px;
    }
    p {
      color: #323264;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  h1,
  h2 {
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(90deg, #f0145a 0.84%, #ef8080 99.96%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.picture {
  background-image: url(../images/about/Team.jpg);
  // object-fit: fill;
  background-size: cover;
  background-position: center center;
  width: 100vw;
  height: 30vw;
  display: flex;
  justify-content: center;
  align-self: center;
  h2 {
    align-self: center;
    color: #fff;
    text-shadow: 0px 15px 30px rgba(40, 40, 86, 0.8);
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 63px;
    text-transform: uppercase;
  }
  &__flex {
    display: flex;
    justify-content: center;
    align-self: center;
  }
}

.slider-wrapper {
  background: #f5f5fa;
  // background-color: red;
  min-height: 30vh;
  // width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  h4 {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #323264;
    text-align: center;
    padding: 30px;
    display: block;
  }
  .slider {
    width: 90%;
    max-width: 1600px;
  }
  .slider-card {
    background-color: #fff;
    margin: 0 15px;
    border-radius: 12px;
    padding: 25px 0;
    display: flex;
    justify-content: center;
    align-content: center;
    max-width: 370px;
    // height: 150px;
    // width: 20%;
    &__image {
      height: 60px;
      width: auto;
    }
  }
  .slick-dots li {
    button::before {
      left: -12px;
      margin: 10px;
      font-size: 16px;
      color: #24a3ff;
    }
  }
  .slick-dots {
    position: static;
    width: 100%;
  }
}

footer {
  background: #f5f5fa;
  .foot-wrapper {
    border-top: 2px solid #e6e6f0;
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;

    .footer-nav {
      display: flex;
      align-items: center;
      padding: 21px 0 30px;
      a {
        font-size: 16px;
        font-weight: 700;
      }

      a:nth-of-type(1):before {
        content: "";
      }
      a::before {
        content: "●";
        color: #b3b3ba;
        padding: 0 10px;
      }
    }

    .foot_map {
      display: flex;
      justify-content: space-between;
      padding-top: 30px;
      .foot_items {
        display: flex;
        align-items: baseline;
        span {
          font-size: 16px;
          color: base.$main-color;
        }
        > a {
          font-size: 12px;
          font-weight: 700;
          letter-spacing: 1px;
          text-transform: uppercase;
          color: base.$blue;
        }
        > a::before {
          content: "●";
          color: #b3b3ba;
        }
      }
      span {
        font-size: 16px;
        color: #b3b3ba;
      }
    }
  }
}
@media (min-width: 1280px) {
  .slider-wrapper {
    min-height: 270px;
    max-height: 270px;
  }
}
@media (max-width: 1024px) {
  .slider-wrapper {
    .slider-card {
      width: 17vw;
      &__image {
        height: 40px;
        width: auto;
      }
    }
  }
}

@media (max-width: 930px) {
  body {
    max-width: 930px;
  }
  .header {
    .container {
      display: none;
    }
    .small-btn,
    .telmobile {
      color: white;
    }
  }
  .container-mobile {
    border-bottom-right-radius: 24px;
    display: flex;
    min-width: 335px;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
    overflow: hidden;
    background-color: #00329e;
    background-image: linear-gradient(
      225deg,
      #00329e 0%,
      #784ba0 50%,
      #2b86c5 100%
    );

    //    ! previous workung-colors background-color: #f0145a;
    // background-image: linear-gradient(225deg, #f0145a 0%, #784BA0 50%, #2B86C5 100%);

    .flex.wrapper {
      display: block;
      width: 100%;
    }
    .first-row {
      display: flex;
      justify-content: space-between;
      padding: 15px 15px;
    }
    .buttons {
      display: flex;
      flex-direction: row;
    }
    .second-row {
      display: flex;
      position: relative;
      z-index: 2;
      padding: 15px 15px;
      .logo-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: auto;
        width: 100%;
        max-width: 320px;
        a {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          svg {
            color: #f0145a;
          }
          p {
            color: base.$main-color;
            font-size: 36px;
            font-style: normal;
            line-height: normal;
          }
        }
      }
    }

    // !Burger-start
    #menu__toggle {
      opacity: 0;
      &:checked {
        + .menu__btn > span {
          transform: rotate(45deg);
          background-color: #f0145a;
          &::before {
            top: 0;
            transform: rotate(0deg);
            background-color: #f0145a;
          }
          &::after {
            top: 0;
            transform: rotate(90deg);
            background-color: #f0145a;
          }
        }
        ~ .menu__box {
          right: 0 !important;
        }
      }
    }

    .menu__btn {
      position: fixed;
      top: 88px;
      right: 20px;
      width: 26px;
      height: 26px;
      cursor: pointer;
      z-index: 1;
      > span,
      span::before,
      span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: base.$white;
        transition-duration: 0.25s;
      }
      span {
        &::before {
          content: "";
          top: -8px;
        }
        &::after {
          content: "";
          top: 8px;
        }
      }
    }
    .menu__box {
      display: block;
      position: fixed;
      border-radius: 12px;
      bottom: 0;
      right: -130%;
      transform: translate(-9%, 0%);
      width: 85%;
      margin: 0;
      padding-top: 60px;
      list-style: none;
      background-color: base.$white;
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
      transition-duration: 0.25s;

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f5f5fa;
        border-radius: 12px;
        margin: 15px 12px;
        a {
          font-weight: 700;
        }
        &:active {
          background-color: #e6e6f0;
        }
      }
      li::before {
        content: "";
        a::before {
          content: "";
        }
      }
    }
    .menu__item {
      display: block;
      padding: 12px 24px;
      color: base.$blue;
      text-align: center;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-decoration: none;
      transition-duration: 0.25s;
      &.current {
        color: #f0145a;
      }
    }
    .menu__item:hover {
      background-color: #cfd8dc;
      transition: color 0.3s;
    }
  }

  main .flex {
    &.top {
      padding-top: 80px;
    }
  }
}

@media (max-width: 800px) {
  .container-mobile .first-row {
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
    background-color: unset;
  }
}

@media (max-width: 767px) {
  .slick-initialized .slick-slide {
    display: flex;
    justify-content: center;
  }

  .slider-wrapper .slider-card {
    width: 35vw;
  }
  main .flex {
    flex-direction: column;
    align-items: center;
    &__left {
      width: 85%;
      h1 {
        padding-bottom: 28px;
      }
    }
    &__right {
      width: 85%;
    }
    &__right-top {
      width: 85%;
    }
  }
  .picture {
    h2 {
      font-size: 46px;
    }
  }
}
@media (max-width: 640px) {
  .container-mobile .second-row .logo-wrapper a p {
    font-size: 22px;
  }
  main .flex {
    padding-bottom: 30px;
    margin: 30px auto 0;
  }
}
@media (max-width: 500px) {
  main .flex {
    &__left {
      h1 {
        font-size: 30px;
      }
    }
    &__right {
      h2 {
        font-size: 30px;
      }
    }
  }
  .picture {
    h2 {
      font-size: 36px;
      letter-spacing: 13px;
    }
  }
}
