$main-color: #323264;
$accent-color: #f0145a;
$blue: #24a3ff;
$blue1: #0085ff;
$blue2: #006ccf;
$gray-bg: #ededf7;
$gray-text: #b3b3ba;
$white: #fff;
$gradient-text: linear-gradient(118deg, #ef8080 0%, #f0145a 100%);
$gradient-red-text: linear-gradient(118deg, #f0145a 0%, #ef8080 100%);
$gradient-bg: linear-gradient(135deg, #323264 0%, #323264 73.96%, #a54b5f 100%);
$gradient-supersoft: linear-gradient(
  229deg,
  #323264 11.93%,
  #323264 57.17%,
  #643e72 87.46%
);

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;

  text-decoration: none;
  vertical-align: baseline;
  box-sizing: border-box;

  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}
button,
a
// a[href]
{
  cursor: pointer;
  font-weight: 700;
}
body {
  font-size: 18px;

  line-height: 26px;
}

header {
  background-color: #323264;
}
.container {
  max-width: 1440px;
  z-index: 2;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  @media screen and (min-width: 1024px) {
    padding: 0 60px;
  }
}

.container-mobile {
  display: none;
  .flex.wrapper {
    display: none;
  }
}

.gradient-text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background: $gradient-text;
}

.gradient-red-text {
  background: $gradient-red-text;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  @media screen and (min-width: 768px) {
    font-size: 42px;
  }
}

h2 {
  font-size: 22px;
  font-weight: 700;
  @media screen and (min-width: 768px) {
    font-size: 32px;
  }
}

.flex {
  display: flex;
  > li {
    list-style: none;
  }
  @media (max-width: 768px) {
    ul.flex {
      list-style: none;
    }
    li {
      list-style: none;
    }
  }
}

.small-btn {
  background: transparent;
  font-weight: 700;
  width: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 8px;
  transition: background-color 0.3s ease-in;
  &:hover:not(.active) {
    background-color: $gray-bg;
    color: black;
    transition: color 0.3s;
  }
  &.active {
    background: $accent-color;
  }
}

.header {
  // position: absolute;
  padding-top: 50px;
  width: 100%;
  color: white;
  background: #323264;
  border: none;
  .flex.wrapper {
    align-items: center;
    gap: 24px;
    justify-content: space-between;
    z-index: 2;
  }
  .first-row {
    gap: 5px;
    align-items: center;
    ul {
      gap: 8px;
      margin-left: 8px;
      list-style-position: inside;
      align-items: center;

      li {
        svg {
          fill: red;
        }
      }
      img {
        width: 24px;
        height: 24px;
        vertical-align: top;
      }
    }
    nav {
      gap: 15px;
      margin-top: 20px;
      justify-content: flex-end;
    }
  }
  &.white {
    .small-btn {
      color: inherit;
    }
  }

  @media (max-width: 800px) {
    ul.flex {
      li {
        list-style: none;
        text-decoration: none;
      }
    }
  }
}

@keyframes circle--animation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

// ! MODAL-Window!

.popup {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
  &:target {
    opacity: 1;
    visibility: visible;
    .popup__content {
      transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
      opacity: 1;
    }
  }
}

.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}
.popup__content {
  background-color: #f5f5fa;
  color: #000;
  height: 100%;
  max-width: 700px;
  padding: 30px;
  position: relative;
  z-index: 3;
  border-radius: 12px;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

.popup__close {
  position: absolute;
  z-index: 3;
  padding: 5px;
  background-color: inherit;
  border-radius: 8px;
  right: 15px;
  top: 15px;
  font-size: 25px;
  color: red;
  &:hover {
    background-color: #E6E6F0;
  }
}
.popup__title {
  font-size: 40px;
  margin: 0 0 1em 0;
}

.sendform-wrapper-modal {
  background-color: #f5f5fa;
  position: relative;
  top: 0;
  left: 0;
  margin: 0 auto;
  max-width: 750px;
  height: 100%;
  // max-height: 50vw;
  border-radius: 12px;
  margin-bottom: 0;
  .sendform {
    margin: 0 auto;
    padding: 30px;
    h2 {
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      background: $gradient-red-text;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .input {
      width: 100%;
      margin: 15px 0;
      border-radius: 8px;
      padding: 15px;
      border: 1px solid #fff;
      transition: all 0.5s;
      font-size: 16px;

      &:focus {
        border: 1px solid $blue;
      }
      &:invalid {
        border: 1px solid red;
        color: red;
      }
      &:disabled {
        border-color: #ededf7;
        background: #ededf7;
        &::placeholder {
          color: #b3b3ba;
        }
      }
    }
    textarea {
      height: 130px;
    }
    h3 {
      color: #b3b3ba;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 1px;
      text-transform: uppercase;
      padding-top: 30px;
      padding-bottom: 0;
    }
    .loader {
      display: none;
    }
    .btn {
      padding: 18px 30px;
      width: 100%;
      border-radius: 12px;
      color: #fff;
      background: $blue;
      box-shadow: 0px 0px 20px 0px rgba(36, 163, 255, 0.5);
      transition: all 0.5s;
      margin-top: 15px;
      &:hover {
        background: $blue1;
      }
      &:active {
        background: $blue2;
      }
      &:disabled {
        border-color: #ededf7;
        background: #ededf7;

        &::placeholder {
          color: #b3b3ba;
        }
      }

      &.loading {
        .loader {
          display: block;
          margin: 0 auto;
          animation: 1.2s linear infinite both circle--animation;
        }

        span {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 1115px) {
  .sendform-wrapper-modal {
    .sendform {
      padding: 10px;
      h3 {
        padding-top: 0;
      }
      .input {
        margin: 10px 0;
      }
    }
  }
}

@media (max-width: 900px) {
  body {
    overflow-x: hidden;
  }

  .popup__body {
    margin-top: 110px;
  }
  .popup__area {
    width: 95%;
  }
}

@media (max-width: 640px) {
  .sendform-wrapper-modal {
    .sendform{
       h2 {
      font-size: 20px;
    }
    .input {
      font-size: 14px;
    }
    }
   
  }
}
