@use "./base.scss";
@use "./main.scss";
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  vertical-align: baseline;
  box-sizing: border-box;

  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.header {
  padding-top: 50px;
  width: 100%;
  color: white;
  .flex.wrapper {
    align-items: center;
    gap: 24px;
    justify-content: space-between;
    z-index: 2;
  }
  .logo-wrapper {
    a {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      svg {
        color: base.$accent-color;
      }
      p {
        color: base.$main-color;
        font-size: 36px;
        font-style: normal;
        line-height: normal;
      }
    }
  }

  .first-row {
    gap: 5px;
    align-items: center;
    color: base.$gray-text;
    ul {
      gap: 8px;
      margin-left: 8px;
      list-style-position: inside;
      align-items: center;

      li {
        svg {
          color: base.$gray-text;
          &:hover {
            color: base.$accent-color;
            transition: color 0.3s;
          }
        }
      }
      img {
        width: 24px;
        height: 24px;
        vertical-align: top;
      }
    }
    nav {
      gap: 15px;
      margin-top: 20px;
      justify-content: flex-end;
    }
  }
  .small-btn {
    color: inherit;
    &.active {
      color: #fff;
    }
  }

  .flex {
    &.navigation {
      a {
        padding: 15px 0 0;
        margin-left: 10px;
        color: base.$blue;
        &:nth-of-type(5) {
          background: base.$gradient-red-text;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          border-bottom: 2px solid red;
        }
        &:hover {
          background: base.$gradient-red-text;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          transition: all 0.3s;
        }
        &:active {
          transform: scale(0.9);
        }
      }
      a:hover {
        color: red;
        transition: all 0.5s;
      }
    }
    a:hover {
      color: red;
      transition: all 0.5s;
    }
    li::before {
      content: "●";
      color: #b3b3ba;
      padding: 0 6px;
    }
    li {
      svg {
        fill: #b3b3ba;
      }
    }
  }
}
main {
  .container {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 60px;
  }
}

.contacts {
  width: 40%;
  a {
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 142.857143%; /* 30px/21 */
    &:hover {
      color: base.$accent-color;
      transition: color 0.3s;
    }
  }
  .line {
    margin: 30px 0;
    height: 4px;
    width: 100%;
    background-color: #e6e6f0;
  }
  .tel {
    a {
      display: block;

      &:nth-of-type(2) {
        color: base.$blue;
        padding-top: 15px;
        &:hover {
          color: base.$accent-color;
          transition: color 0.3s;
        }
      }
    }
  }
  .fbpage {
    color: base.$blue;
    a {
      display: flex;
      gap: 10px;
      align-items: center;
      p {
        text-transform: uppercase;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 133.333333%; /* 16px/12 */
        letter-spacing: 1px;
      }

      &:hover {
        color: base.$accent-color;
        transition: color 0.3s;
      }
    }
  }
}
.sendform-wrapper {
  background-color: #f5f5fa;
  width: 40%;
  border-radius: 12px;
  margin-bottom: 60px;
  .sendform {
    margin: 0 auto;
    padding: 30px;
    h2 {
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      background: base.$gradient-red-text;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .input {
      width: 100%;
      margin: 15px 0;
      border-radius: 8px;
      padding: 15px;
      border: 1px solid #fff;
      transition: all 0.5s;

      &:focus {
        border: 1px solid base.$blue;
      }
      &:invalid {
        border: 1px solid red;
        color: red;
      }
      &:disabled {
        border-color: #ededf7;
        background: #ededf7;
        &::placeholder {
          color: #b3b3ba;
        }
      }
    }
    textarea {
      height: 130px;
    }
    h3 {
      color: #b3b3ba;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 1px;
      text-transform: uppercase;
      padding-top: 30px;
    }
    .btn {
      padding: 18px 30px;
      width: 100%;
      border-radius: 12px;
      color: #fff;
      background: base.$blue;
      box-shadow: 0px 0px 20px 0px rgba(36, 163, 255, 0.5);
      transition: all 0.5s;
      margin-top: 15px;
      &:hover {
        background: base.$blue1;
      }
      &:active {
        background: base.$blue2;
      }
    }
    .loader {
      display: none;
    }
  }
}

footer {
  background: #f5f5fa;
  .foot-wrapper {
    border-top: 4px solid #b3b3ba;
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;

    .footer-nav {
      display: flex;
      align-items: center;
      padding: 21px 0 30px;
      a {
        font-size: 16px;
        font-weight: 700;
      }

      a:nth-of-type(1):before {
        content: "";
      }
      a::before {
        content: "●";
        color: #b3b3ba;
        padding: 0 10px;
      }
    }

    .foot_map {
      display: flex;
      justify-content: space-between;
      .foot_items {
        display: flex;
        align-items: baseline;
        span {
          font-size: 16px;
          color: base.$main-color;
        }
        > a {
          font-size: 12px;
          font-weight: 700;
          letter-spacing: 1px;
          text-transform: uppercase;
          color: base.$blue;
        }
        > a::before {
          content: "●";
          color: #b3b3ba;
        }
      }
      span {
        font-size: 16px;
        color: #b3b3ba;
      }
    }
  }
}

@media (max-width: 900px) {
  body {
    max-width: 900px;
  }
  .header {
    .container {
      display: none;
    }
    .small-btn,
    .telmobile {
      color: white;
    }
  }
  .container-mobile {
    display: flex;
    min-width: 335px;
    width: 100%;
    // height: 102px;
    margin: 0 auto;
    position: fixed;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
    overflow: hidden;
    background-color: #f0145a;
background-image: linear-gradient(225deg, #f0145a 0%, #784BA0 50%, #2B86C5 100%);

    .flex.wrapper {
      display: block;
      width: 100%;
    }
    .first-row {
      display: flex;
      justify-content: space-between;
      padding: 15px 15px;
      // background-color: #f5f5fa;
      // background-color: #f0145a;
      // background-image: linear-gradient(225deg, #f0145a 0%, #784BA0 50%, #2B86C5 100%);
      
      
    }
    .buttons {
      display: flex;
      flex-direction: row;
    }
    .second-row {
      display: flex;
      position: relative;
      z-index: 2;
      padding: 15px 15px;
      .logo-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: auto;
        width: 100%;
        max-width: 169px;
        a {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          svg {
            color: #f0145a;
          }
          p {
            color: base.$main-color;
            font-size: 36px;
            font-style: normal;
            line-height: normal;
          }
        }
      }
    }

    // !Burger-start
    #menu__toggle {
      opacity: 0;
      &:checked {
        + .menu__btn > span {
          transform: rotate(45deg);
          background-color: #f0145a;
          &::before {
            top: 0;
            transform: rotate(0deg);
            background-color: #f0145a;
          }
          &::after {
            top: 0;
            transform: rotate(90deg);
            background-color: #f0145a;
          }
        }
        ~ .menu__box {
          right: 0 !important;
        }
      }
    }

    .menu__btn {
      position: fixed;
      top: 88px;
      right: 20px;
      width: 26px;
      height: 26px;
      cursor: pointer;
      z-index: 1;
      > span,
      span::before,
      span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: base.$main-color;
        transition-duration: 0.25s;
      }
      span {
        &::before {
          content: "";
          top: -8px;
        }
        &::after {
          content: "";
          top: 8px;
        }
      }
    }
    .menu__box {
      display: block;
      position: fixed;
      border-radius: 12px;
      bottom: 0;
      right: -130%;
      transform: translate(-9%, 0%);
      width: 85%;
      margin: 0;
      padding-top: 60px;
      list-style: none;
      background-color: base.$white;
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
      transition-duration: 0.25s;

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f5f5fa;
        border-radius: 12px;
        margin: 15px 12px;
        a {
          font-weight: 700;
        }
        &:active {
          background-color: #e6e6f0;
        }
      }
      li::before {
        content: "";
        a::before {
          content: "";
        }
      }
    }
    .menu__item {
      display: block;
      padding: 12px 24px;
      color: base.$blue;
      text-align: center;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-decoration: none;
      transition-duration: 0.25s;
      &.current {
        color: #f0145a;
      }
    }
    .menu__item:hover {
      background-color: #cfd8dc;
      transition: color 0.3s;
    }
  }
  main {
    .container {
      margin-top: 120px;
      flex-direction: column;
      align-items: flex-start;
      padding: 0 60px;
      .contacts {
        width: 100%;
      }
      .sendform-wrapper {
        width: 100%;
      }
    }
  }
}

@media (max-width: 640px) {
  .container-mobile .second-row .logo-wrapper a p {
    font-size: 20px;
  }
  .container-mobile .second-row .logo-wrapper a svg {
    width: 23px;
    height: 26px;
    color: #f0145a;
    margin-right: 5px;
    padding-right: 0;
  }
  .sendform-wrapper .sendform {
    h2 {
      font-size: 25px;
    }
    .input {
      font-size: 16px;
    }
    .btn {
      span {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 400px) {
  .contacts {
    a {
      font-size: 15px;
    }

    .line {
      margin: 20px 0;
    }
  }
}
