@use "./base.scss";

.section-1 {
  overflow: hidden;
  min-height: 100vh;
  border-radius: 0 0 12px;
  // max-height: 4300px;
  padding-top: 152px;
  background: base.$gradient-bg;
  z-index: -3;
  // background-image: url(../images/Symbol.svg);
  // background-repeat: no-repeat;
  // background-size: cover;
  // position: relative;

  // h-logo--!!
  .h-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -67%);
    z-index: 1;
  }

  .scroll-icon {
    color: white;
    position: absolute;
    z-index: 2;
    top: 66%;
    right: 51%;
    &:hover {
      color: base.$accent-color;
      transition: color 0.3s;
    }
  }
  > p {
    font-size: 38px;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    color: base.$white;
    position: absolute;
    top: 33%;
    right: 33%;
    z-index: 2;
  }
}

.container {
  position: relative;
  z-index: 3;
}

.flex {
  li {
    &:first-of-type {
      a {
        font-weight: 400;
      }
    }
  }

  &.navigation {
    display: flex;
    justify-content: flex-end;
    a {
      padding: 10px 0 0 15px;
    }
    a:hover {
      background: base.$gradient-red-text;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: color 0.3s;
    }
  }
  a:hover {
    background: base.$gradient-red-text;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s;
  }
  li {
    display: flex;
    svg {
      &:hover {
        color: base.$accent-color;
        cursor: pointer;
        transition: color 0.3s;
      }
    }
  }
  li::before {
    content: "●";
    color: #b3b3ba;
    padding: 0 6px 0 0;
  }
}

.main-container {
  max-width: 1440px;
  margin: 0 auto;
}

.services-section {
  padding: 185px 60px 60px;
  a {
    color: base.$blue;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    &:hover {
      color: base.$accent-color;
      transition: color 0.3s;
    }
  }
  h2 {
    background: base.$gradient-red-text;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 15px 0 60px;
  }
  .services-cards {
    h4 {
      font-size: 22px;
      font-weight: 700;
      color: base.$blue;
      padding: 30px 0 15px;
    }

    p {
      font-size: 16px;
      line-height: 1.63;
      color: base.$white;
    }

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 60px;
  }
  .services-icons {
    width: 100px;
    position: relative;
    height: 100px;
    border-radius: 24px;
    background-color: base.$white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.section-2 {
  background: base.$white;
  padding: 40px 16px;

  // Slider-Start
  .slider {
    margin-bottom: 40px;
    &__item {
      border-radius: 12px;
      background-color: base.$gray-bg;
      padding: 20px;
      @media (min-width: 768px) {
        padding: 0;
      }
    }

    .slick-dots li {
      button:before {
        opacity: 0.2;
        color: base.$blue;
        font-size: 16px;
      }

      &.slick-active button:before {
        opacity: 1;
      }
    }
    &__left-block {
      padding-right: 20px;
      order: 2;
      width: 100%;
      @media (min-width: 768px) {
        padding: 20px;
        width: 35%;
        min-width: 412px;
        max-width: 412px;
        order: 0;
      }
    }
    &__flex {
      display: flex;
      flex-direction: column;
      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
      }
      @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        img {
          width: 100%;
          height: 100%;
          border-radius: 0;
          padding: 0;
        }
      }
    }
  }
  // Slider-End
}
.tabs {
  padding-top: 850px;
  color: base.$white;
  h2 {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 30px;
  }
  p {
    font-size: 19px;
    line-height: 1.58;
  }
}
.ui-tabs {
  display: flex;
  align-items: center;
  height: 312px;
  gap: 40px;
  justify-content: center;
}
.ui-tabs-nav {
  display: block;
}
.ui-tabs-tab {
  transition: all 0.5s;
  display: block;
  padding-right: 40px;
  border-right: 4px solid gray;
  a {
    display: block;
    width: 100%;
    text-align: right;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: gray;
  }
}

.ui-tabs-active {
  border-color: red;
  a {
    background: base.$gradient-red-text;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.ui-tabs-panel {
  width: 60%;
  max-width: 600px;
  padding: 40px 15px;
}

.companies {
  max-width: 1720px;
  margin: 0 auto;
  h3 {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: normal;
    text-transform: uppercase;
    padding-bottom: 30px;
    color: base.$main-color;
    text-align: center;
  }
  .company-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border-radius: 12px;
    max-width: 1720px;
  }
  .company-card {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
    &.wannabiz {
      img {
        max-height: 32px;
        width: auto;
      }
    }
    img {
      max-height: 48px;
      width: auto;
      padding: 5px 12px;
      object-fit: cover;
    }
  }
}
.company-card:nth-of-type(1) {
  background-color: #1c4280;
}
.company-card:nth-of-type(2) {
  background-color: #143646;
}
.company-card:nth-of-type(3) {
  background: linear-gradient(0deg, #f48b30 0%, #f48b30 100%), #f48b30;
}
.company-card:nth-of-type(4) {
  background-color: #9e4dc3;
}
.company-card:nth-of-type(5) {
  background-color: #fd9339;
}
.company-card:nth-of-type(6) {
  background-color: #e2e2e4;
}
.company-card:nth-of-type(7) {
  background-color: #c71c36;
}
.company-card:nth-of-type(8) {
  background-color: #dcf3f9;
}
.company-card:nth-of-type(9) {
  background-color: #eaeaea;
}
.company-card:nth-of-type(10) {
  background-color: #282240;
}
.company-card:nth-of-type(11) {
  background-color: #1d4568;
}
.company-card:nth-of-type(12) {
  background-color: #000;
}

// ---------------------------------
.publications-wrapper {
  padding: 30px 60px;
  margin: 0 auto;
  max-width: 1720px;
  background: #f5f5fa;
  a {
    text-transform: uppercase;
    color: base.$blue;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    &:hover {
      color: base.$accent-color;
      transition: color 0.3s;
    }
  }
  h2 {
    font-size: 38px;
    font-weight: 700;
    line-height: normal;
    background: base.$gradient-red-text;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 15px 0 30px;
  }
}

.publications-cards {
  background: #f5f5fa;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  &__card {
    background: #fff;
    border-radius: 8px;
    p {
      font-size: 14px;
      line-height: 1.58;
      padding: 15px 30px 30px;
      color: #000;
    }
    img {
      width: 100%;
    }
  }
  &__item {
    h4 {
      font-size: 16px;
      font-weight: 700;
      color: base.$blue;
      padding: 30px 30px 15px;
    }
    p {
      padding: 0 30px 15px;
      color: #b3b3ba;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }
  &__line {
    height: 4px;
    width: 90%;
    padding: 0 30px;
    background-color: #b3b3ba;
    margin: 0 auto;
  }
}

footer {
  background: #f5f5fa;
  .foot-wrapper {
    border-top: 4px solid #b3b3ba;
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;

    .footer-nav {
      display: flex;
      align-items: center;
      padding: 21px 0 30px;
      a {
        font-size: 16px;
        font-weight: 700;
        &:nth-last-of-type(1) {
          color: base.$blue;
        }
        &:hover {
          color: base.$accent-color;
          transition: color 0.3s;
        }
        svg {
          color: base.$blue;
          &:hover {
            color: base.$accent-color;
            transition: color 0.3s;
          }
        }
      }
      a:nth-of-type(1):before {
        content: "";
      }
      a::before {
        content: "●";
        color: #b3b3ba;
        padding: 0 10px;
      }
    }

    .foot_map {
      display: flex;
      justify-content: space-between;
      .foot_items {
        display: flex;
        align-items: baseline;
        span {
          font-size: 16px;
          color: base.$main-color;
        }
        > a {
          font-size: 12px;
          font-weight: 700;
          letter-spacing: 1px;
          text-transform: uppercase;
          color: base.$blue;
          &:hover {
            color: base.$accent-color;
            transition: color 0.3s;
          }
        }
        > a::before {
          content: "●";
          color: #b3b3ba;
        }
      }
      span {
        font-size: 16px;
        color: #b3b3ba;
      }
    }
  }
}

.container-mobile {
  display: none;
}

.foot-wrapper-mobile {
  display: none;
}

@media (max-width: 1024px) {
  .section-1 {
    .h-logo {
      transform: translate(-46%, -74%);
    }
    .scroll-icon {
      top: 61%;
    }

    > p {
      top: 31%;
      right: 13%;
    }
  }
  .services-section {
    .services-cards {
      p {
        padding-bottom: 25px;
      }
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-gap: 45px;
    }
  }
  .logo-item {
    right: 12%;
  }
}

@media (max-width: 800px) {
  body {
    max-width: 800px;
  }
  .header {
    .container {
      display: none;
    }
  }
  .container-mobile {
    display: flex;
    min-width: 335px;
    width: 100%;
    // height: 102px;
    margin: 0 auto;
    position: fixed;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
    overflow: hidden;
    .flex.wrapper {
      display: block;
      width: 100%;
    }
    .first-row {
      display: flex;
      justify-content: space-between;
      padding: 15px 15px;
      background-color: rgba(245, 245, 250, 0.2);
    }
    .buttons {
      display: flex;
      flex-direction: row;
    }
    .second-row {
      display: flex;
      position: relative;
      z-index: 2;
      padding: 15px 15px;
      .logo-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: auto;
        width: 100%;
        max-width: 169px;
        a {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          p {
            color: base.$white;
            font-size: 36px;
            font-style: normal;
            line-height: normal;
          }
        }
      }
    }

    // Burger-start
    #menu__toggle {
      opacity: 0;
      &:checked {
        + .menu__btn > span {
          transform: rotate(45deg);
          background-color: #f0145a;
          &::before {
            top: 0;
            transform: rotate(0deg);
            background-color: #f0145a;
          }
          &::after {
            top: 0;
            transform: rotate(90deg);
            background-color: #f0145a;
          }
        }
        ~ .menu__box {
          right: 0 !important;
        }
      }
    }
    // #menu__toggle:checked + .menu__btn > span {
    //   transform: rotate(45deg);
    //   background-color: #f0145a;
    // }
    // #menu__toggle:checked + .menu__btn > span::before {
    //   top: 0;
    //   transform: rotate(0deg);
    //   background-color: #f0145a;
    // }
    // #menu__toggle:checked + .menu__btn > span::after {
    //   top: 0;
    //   transform: rotate(90deg);
    //   background-color: #f0145a;
    // }
    // #menu__toggle:checked ~ .menu__box {
    //   right: 0 !important;
    // }
    .menu__btn {
      position: fixed;
      top: 93px;
      right: 20px;
      width: 26px;
      height: 26px;
      cursor: pointer;
      z-index: 1;
      > span,
      span::before,
      span::after {
        display: block;
        position: absolute;
        width: 100%;
        top: 8px;
        height: 4px;
        background-color: base.$white;
        transition-duration: 0.25s;
      }
      span {
        &::before {
          content: "";
          top: -8px;
        }
        &::after {
          content: "";
          top: 8px;
        }
      }
    }
    // .menu__btn > span::before {
    // }
    // .menu__btn > span::after {
    // }
    .menu__box {
      display: block;
      position: fixed;
      border-radius: 12px;
      top: 56px;
      right: -130%;
      // transform: translate(-50%, -50%);
      width: 300px;
      height: calc(100% - 56px);
      margin: 0;
      padding: 60px 0;
      list-style: none;
      background-color: base.$white;
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
      transition-duration: 0.25s;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f5f5fa;
        border-radius: 12px;
        margin: 15px 12px;
        a {
          font-weight: 700;
        }
        &:active {
          background-color: #e6e6f0;
        }
      }
      li::before {
        content: "";
        a::before {
          content: "";
        }
      }
    }
    .menu__item {
      display: block;
      padding: 12px 24px;
      color: base.$blue;
      text-align: center;
      font-size: 24px;
      font-style: normal;
      line-height: normal;
      text-decoration: none;
      transition-duration: 0.25s;
    }
    .menu__item:hover {
      background-color: #cfd8dc;
    }
  }

  .logo-item {
    right: 0%;
    // img {
    //   height: 768px;
    //   width: 1024px;
    // }
    p {
      right: 5%;
      // max-width: 300px;
      // margin: 0 auto;
    }
  }

  // Text-Slider under H-Start-media-800
  .tabs {
    padding-top: 1100px;
    padding-bottom: 150px;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 24px;
      border-bottom: 4px solid rgba(255, 255, 255, 0.3);
      // overflow-x: auto;
    }
  }

  // .ui-tabs {
  //   flex-direction: column;
  // }
  .ui-tabs {
    display: block;
    gap: 40px;
    height: 312px;
    margin-bottom: 60px;
  }

  .ui-tabs-tab {
    transition: all 0.5s;
    display: block;
    padding-right: 40px;
    border-bottom: none;
    border-right: none;
    a {
      display: block;
      width: 100%;
      text-align: right;
      font-size: 42px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      color: gray;
      white-space: nowrap;
      border-bottom: none;
      padding-bottom: 60px;
    }
  }
  .ui-tabs-active {
    border-color: red;
    a {
      background: base.$gradient-red-text;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .ui-tabs-panel {
    width: 100%;
  }
  // Text-Slider under H-End-media-800
  // Цветные фирмы-карточки
  .companies {
    .company-items {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }
  }
  .publications-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .lastcard {
    grid-column: 1/3;
  }
}
// ---800px-END

@media (max-width: 640px) {
  // .logo-item {
  //   right: -32%;
  // }
  .flex.wrapper {
    img {
      width: 69px;
      height: 32px;
    }
  }
  .container-mobile {
    .second-row {
      .logo-wrapper {
        a {
          p {
            font-size: 20px;
          }
          svg {
            width: 18px;
            height: 26px;
            color: #f0145a;
            margin-right: 4px;
          }
        }
      }
    }
  }

  .logo-item {
    right: -20%;
    overflow: hidden;
    p {
      max-width: 300px;
      margin: 0 auto;
    }

    img {
      width: 523px;
      height: 600px;
      overflow: hidden;
    }
  }
  .services-section {
    h2 {
      padding: 15px 0 30px;
      line-height: normal;
    }
    .services-cards {
      display: flex;
      flex-direction: column;
    }
  }

  .companies {
    .company-items {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .company-card {
      width: 100%;
      img {
        padding: 0;
      }
    }
  }

  .publications-cards {
    display: flex;
    flex-direction: column;
  }

  .foot-wrapper {
    display: none;
  }
  .foot-wrapper-mobile {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    border-top: 4px solid #b3b3ba;
    width: 90%;
    max-width: 640px;
    margin: 0 auto;
    a {
      line-height: normal;
      padding: 10px;
      font-weight: 700;
      color: base.$blue;
      &:nth-of-type(1) {
        letter-spacing: 1px;
        text-transform: uppercase;
      }
      &:nth-of-type(3) {
        color: base.$main-color;
      }
      &:nth-of-type(4) {
        color: base.$blue;
      }
      &:hover {
        color: base.$accent-color;
        transition: color 0.3s;
      }
      svg {
        &:hover {
          color: base.$accent-color;
          transition: color 0.3s;
        }
      }
    }

    span {
      font-size: 16px;
      color: #b3b3ba;
      padding-top: 30px;
      &:nth-of-type(1) {
        color: #000;
      }
    }
    // a {
    //   font-size: 12px;
    //   font-weight: 700;
    //   letter-spacing: 1px;
    //   text-transform: uppercase;
    //   color: base.$blue;
    // }
  }
}
@media (max-width: 450px) {
  .logo-item {
    right: -25%;
  }
  .company-card {
    img {
      max-height: 50%;
    }
  }
}

@media (max-width: 370px) {
  .flex.wrapper {
    img {
      width: 69px;
      height: 32px;
    }
  }
  .logo-item {
    p {
      max-width: 300px;
      margin: 0 auto;
    }
    img {
      width: 523px;
      height: 600px;
      overflow: hidden;
    }
  }
}
