@use "./base.scss";
@use "./main.scss";
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  vertical-align: baseline;
  box-sizing: border-box;

  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
*:focus {
  outline: none;
}

.header {
  padding: 50px 0;
  width: 100%;
  color: white;
  background-color: #fff;
  .flex.wrapper {
    align-items: center;
    gap: 24px;
    justify-content: space-between;
    z-index: 2;
  }
  .logo-wrapper {
    a {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      svg {
        color: base.$accent-color;
      }
      p {
        color: base.$main-color;
        font-size: 36px;
        font-style: normal;
        line-height: normal;
      }
    }
  }

  .first-row {
    gap: 5px;
    align-items: center;
    color: base.$gray-text;
    ul {
      gap: 8px;
      margin-left: 8px;
      list-style-position: inside;
      align-items: center;

      li {
        svg {
          color: base.$gray-text;
          &:hover {
            color: base.$accent-color;
            transition: color 0.3s;
          }
        }
      }
      img {
        width: 24px;
        height: 24px;
        vertical-align: top;
      }
    }
    nav {
      gap: 15px;
      margin-top: 20px;
      justify-content: flex-end;
    }
  }
  .small-btn {
    color: inherit;
    &.active {
      color: #fff;
    }
  }

  .flex {
    &.navigation {
      a {
        padding: 15px 0 0;
        margin-left: 10px;
        color: base.$blue;
        &:nth-of-type(4) {
          background: base.$gradient-red-text;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          border-bottom: 2px solid red;
        }
        &:hover {
          background: base.$gradient-red-text;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          transition: all 0.3s;
        }
        &:active {
          transform: scale(0.9);
        }
      }
      a:hover {
        color: red;
        transition: all 0.5s;
      }
    }
    a:hover {
      color: red;
      transition: all 0.5s;
    }
    li::before {
      content: "●";
      color: #b3b3ba;
      padding: 0 6px;
    }
    li {
      svg {
        fill: #b3b3ba;
      }
    }
  }
}

main {
  background: #f5f5fa;
  padding-bottom: 30px;
}

// !Switch-fight start
.toggle-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.toggle-button-cover {
  position: relative;
  width: 230px;
  height: 70px;
  box-sizing: border-box;
}

.button-cover {
  height: 35px;
  width: 230px;
  border-radius: 12px;
}

.button-cover:before {
  counter-increment: button-counter;
  content: counter(button-counter);
  position: absolute;
  right: 0;
  bottom: 0;
  color: #d7e3e3;
  font-size: 12px;
  line-height: 1;
  padding: 5px;
}

.button-cover,
.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  top: 52%;
  width: 95%;
  height: 42px;
  border-radius: 10px;
  margin: -20px auto 0 auto;
  overflow: hidden;
}

.button.r,
.button.r .layer {
  border-radius: 100px;
}

.button.b2 {
  border-radius: 12px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
  &:hover {
    background-color: #f5f5fa;
  }
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #e6e6f0;
  transition: 0.3s ease all;
  z-index: 1;
}

#button-10 .knobs:before,
#button-10 .knobs:after,
#button-10 .knobs span {
  position: absolute;
  top: 4px;
  width: 105px;
  height: 16px;
  color: #323264;
  text-align: center;
  /* H4 / Regular */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 9px 4px;
  border-radius: 2px;
  transition: 0.3s ease all;
}

#button-10 .knobs:before {
  content: "";
  left: 4px;
  border-radius: 8px;
  background-color: #fff;
}

#button-10 .knobs:after {
  content: "articles";
  right: 4px;
  color: #323264;
}

#button-10 .knobs span {
  display: inline-block;
  left: 4px;
  color: #323264;
  z-index: 1;
}

#button-10 .checkbox:checked + .knobs span {
  color: #323264;
}

#button-10 .checkbox:checked + .knobs:before {
  left: 102px;
  background-color: #fff;
}

#button-10 .checkbox:checked + .knobs:after {
  color: #323264;
}

#button-10 .checkbox:checked ~ .layer {
  background-color: #e6e6f0;
}

// !Switch-fight end

.publications-wrapper {
}
.publications-cards {
  background: #f5f5fa;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;

  &__card {
    background: #fff;
    border-radius: 8px;
    height: 500px;

    &:hover {
      h4 {
        color: #f0145a;
        transition: 0.5s color;
      }
    }
    p {
      font-size: 14px;
      line-height: 1.58;
      padding: 15px 20px 30px;
      color: #000;
      text-transform: none;
    }
    img {
      width: 100%;
      height: auto;
      object-fit: fill;
      max-height: 250px;
    }
    .special {
      width: 100%;
      height: 40;
      object-fit: fill;
    }
  }

  &__item {
    h4 {
      font-size: 16px;
      font-weight: 700;
      color: base.$blue;
      text-transform: none;
      line-height: normal;
      padding: 10px 20px 15px;
    }
    p {
      padding: 0 20px 15px;
      color: #b3b3ba;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }
  &__line {
    height: 4px;
    width: 88%;
    padding: 0 30px;
    background-color: #b3b3ba;
    margin: 0 auto;
  }
}
.button-bottom {
  display: block;
  border-radius: 12px;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #fff;
  box-shadow: 0px 0px 20px 0px rgba(36, 163, 255, 0.5);
  background-color: base.$blue;
  width: 211px;
  height: 56px;
  margin: 30px auto;
  &:hover {
    background-color: base.$blue1;
    transition: 0.5s all;
  }
  &:active {
    background-color: base.$blue2;
    transition: 0.5s all;
  }
}
footer {
  background: #f5f5fa;
  .foot-wrapper {
    border-top: 2px solid #e6e6f0;
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;

    .footer-nav {
      display: flex;
      align-items: center;
      padding: 21px 0 30px;
      a {
        font-size: 16px;
        font-weight: 700;
      }

      a:nth-of-type(4):before {
        content: "";
      }
      a::before {
        content: "●";
        color: #b3b3ba;
        padding: 0 10px;
      }
    }

    .foot_map {
      display: flex;
      justify-content: space-between;
      padding-top: 30px;
      .foot_items {
        display: flex;
        align-items: baseline;
        span {
          font-size: 16px;
          color: base.$main-color;
        }
        > a {
          font-size: 12px;
          font-weight: 700;
          letter-spacing: 1px;
          text-transform: uppercase;
          color: base.$blue;
        }
        > a::before {
          content: "●";
          color: #b3b3ba;
        }
      }
      span {
        font-size: 16px;
        color: #b3b3ba;
      }
    }
  }
}

@media (max-width: 995px) {
  body {
    max-width: 995px;
  }
  .header {
    padding: 70px 0;
    .container {
      display: none;
    }
    .small-btn,
    .telmobile {
      color: white;
    }
  }
  .container-mobile {
    border-bottom-right-radius: 24px;
    display: flex;
    min-width: 335px;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
    overflow: hidden;
    background-color: #00329e;
    background-image: linear-gradient(
      225deg,
      #00329e 0%,
      #784ba0 50%,
      #2b86c5 100%
    );

    //    ! previous workung-colors background-color: #f0145a;
    // background-image: linear-gradient(225deg, #f0145a 0%, #784BA0 50%, #2B86C5 100%);

    .flex.wrapper {
      display: block;
      width: 100%;
    }
    .first-row {
      display: flex;
      justify-content: space-between;
      padding: 15px 15px;
    }
    .buttons {
      display: flex;
      flex-direction: row;
    }
    .second-row {
      display: flex;
      position: relative;
      z-index: 2;
      padding: 15px 15px;
      .logo-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: auto;
        width: 100%;
        max-width: 320px;
        a {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          svg {
            color: #f0145a;
          }
          p {
            color: base.$main-color;
            font-size: 36px;
            font-style: normal;
            line-height: normal;
          }
        }
      }
    }

    // !Burger-start
    #menu__toggle {
      opacity: 0;
      &:checked {
        + .menu__btn > span {
          transform: rotate(45deg);
          background-color: #f0145a;
          &::before {
            top: 0;
            transform: rotate(0deg);
            background-color: #f0145a;
          }
          &::after {
            top: 0;
            transform: rotate(90deg);
            background-color: #f0145a;
          }
        }
        ~ .menu__box {
          right: 0 !important;
        }
      }
    }

    .menu__btn {
      position: fixed;
      top: 88px;
      right: 20px;
      width: 26px;
      height: 26px;
      cursor: pointer;
      z-index: 1;
      > span,
      span::before,
      span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: base.$white;
        transition-duration: 0.25s;
      }
      span {
        &::before {
          content: "";
          top: -8px;
        }
        &::after {
          content: "";
          top: 8px;
        }
      }
    }
    .menu__box {
      display: block;
      position: fixed;
      border-radius: 12px;
      bottom: 0;
      right: -130%;
      transform: translate(-9%, 0%);
      width: 85%;
      margin: 0;
      padding-top: 60px;
      list-style: none;
      background-color: base.$white;
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
      transition-duration: 0.25s;

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f5f5fa;
        border-radius: 12px;
        margin: 15px 12px;
        a {
          font-weight: 700;
        }
        &:active {
          background-color: #e6e6f0;
        }
      }
      li::before {
        content: "";
        a::before {
          content: "";
        }
      }
    }
    .menu__item {
      display: block;
      padding: 12px 24px;
      color: base.$blue;
      text-align: center;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-decoration: none;
      transition-duration: 0.25s;
      &.current {
        color: #f0145a;
      }
    }
    .menu__item:hover {
      background-color: #cfd8dc;
      transition: color 0.3s;
    }
  }

  main .flex {
    &.top {
      padding-top: 80px;
    }
  }
  .publications-cards {
    grid-template-columns: repeat(2, 1fr);
    &__card{
      height: 100%;
    }
    
  }
}

@media (max-width: 800px) {
  .container-mobile .first-row {
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
    background-color: unset;
  }
}

@media (max-width: 767px) {
  .slick-initialized .slick-slide {
    display: flex;
    justify-content: center;
  }

  .slider-wrapper .slider-card {
    width: 35vw;
  }
  main .flex {
    flex-direction: column;
    align-items: center;
    &__left {
      width: 85%;
      h1 {
        padding-bottom: 28px;
      }
    }
    &__right {
      width: 85%;
    }
    &__right-top {
      width: 85%;
    }
  }
  .picture {
    h2 {
      font-size: 46px;
    }
  }
}
@media (max-width: 640px) {
  .header {
    padding: 55px 0;
  }
   
  .container-mobile .second-row .logo-wrapper a p {
    font-size: 22px;
  }
  main .flex {
    padding-bottom: 30px;
    margin: 30px auto 0;
  }
}
@media (max-width: 500px) {
 .publications-cards {
    grid-template-columns: repeat(1, 1fr);
  }
  main .flex {
    &__left {
      h1 {
        font-size: 30px;
      }
    }
    &__right {
      h2 {
        font-size: 30px;
      }
    }
  }
  .picture {
    h2 {
      font-size: 36px;
      letter-spacing: 13px;
    }
  }
}
