@use "./base.scss";
@use "./main.scss";
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  vertical-align: baseline;
  box-sizing: border-box;

  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
*:focus {
  outline: none;
}
.header {
  padding: 50px 0;
  width: 100%;
  color: white;
  background-color: #fff;
  .flex.wrapper {
    align-items: center;
    gap: 24px;
    justify-content: space-between;
    z-index: 2;
  }
  .logo-wrapper {
    a {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      svg {
        color: base.$accent-color;
      }
      p {
        color: base.$main-color;
        font-size: 36px;
        font-style: normal;
        line-height: normal;
      }
    }
  }

  .first-row {
    gap: 5px;
    align-items: center;
    color: base.$gray-text;
    ul {
      gap: 8px;
      margin-left: 8px;
      list-style-position: inside;
      align-items: center;

      li {
        svg {
          color: base.$gray-text;
          &:hover {
            color: base.$accent-color;
            transition: color 0.3s;
          }
        }
      }
      img {
        width: 24px;
        height: 24px;
        vertical-align: top;
      }
    }
    nav {
      gap: 15px;
      margin-top: 20px;
      justify-content: flex-end;
    }
  }
  .small-btn {
    color: inherit;
    &.active {
      color: #fff;
    }
  }

  .flex {
    &.navigation {
      a {
        padding: 15px 0 0;
        margin-left: 10px;
        color: base.$blue;
        &:nth-of-type(4) {
          background: base.$gradient-red-text;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          border-bottom: 2px solid red;
        }
        &:hover {
          background: base.$gradient-red-text;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          transition: all 0.3s;
        }
        &:active {
          transform: scale(0.9);
        }
      }
      a:hover {
        color: red;
        transition: all 0.5s;
      }
    }
    a:hover {
      color: red;
      transition: all 0.5s;
    }
    li::before {
      content: "●";
      color: #b3b3ba;
      padding: 0 6px;
    }
    li {
      svg {
        fill: #b3b3ba;
      }
    }
  }
}

// !MAIN Begins
.main-wrapper {
  margin: 0 auto;
  max-width: 1360px;
  width: 80%;
  p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    color: black;
  }
}

.new-item {
  border-bottom: 4px solid #e6e6f0;
  margin-bottom: 30px;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
  }
  h1 {
    color: #323264;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 30px;
  }
  p {
    color: #b3b3ba;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 15px 0 30px;
  }
}
h3 {
  padding: 25px 0 0;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #46466e;
}
.description {
  p {
    padding: 30px 0;
    &:last-child {
      padding-top: 15px;
    }
  }
  h2 {
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: var(
      --gradient-red-text,
      linear-gradient(90deg, #f0145a 0.84%, #ef8080 99.96%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 30px;
  }
  ol {
    padding-top: 15px;
    li {
      margin-left: 30px;
      padding-left: 10px;
      &:first-child {
        padding-bottom: 15px;
      }
      &::marker {
        padding-left: 0px;
        color: var(--Accent, #f0145a);
        text-align: right;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 144.444444%; /* 26px/18 */
      }
    }
  }
}
.commercial {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  p {
    color: #b3b3ba;
    padding: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 157.142857%; /* 22px/14 */
  }
}

.networks {
  width: 100%;
  padding-top: 30px;
  border-top: 4px solid #e6e6f0;
  &__item {
    img {
      padding: 9px;
      background-color: #f5f5fa;
      border-radius: 12px;
      margin: 9px;
      &:hover {
        background-color: #ededf7;
        transition: 0.3s all;
      }
    }
  }
}
.publications {
  width: 100vw;
  background: #f5f5fa;
}
.publications-wrapper {
  padding: 30px 60px;
  margin: 0 auto;
  max-width: 1720px;
  a {
    text-transform: uppercase;
    color: base.$blue;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    &:hover {
      color: base.$accent-color;
      transition: color 0.3s;
    }
  }
  h2 {
    font-size: 38px;
    font-weight: 700;
    line-height: normal;
    background: base.$gradient-red-text;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 15px 0 30px;
  }
}

.publications-cards {
  background: #f5f5fa;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  &__card {
    background: #fff;
    border-radius: 8px;
    height: 100%;
    &:hover {
      h4 {
        color: #f0145a;
        transition: 0.5s color;
      }
    }
    p {
      font-size: 14px;
      line-height: 1.58;
      padding: 15px 30px 30px;
      color: #000;
      text-transform: none;
    }
    img {
      width: 100%;
    }
  }
  &__item {
    h4 {
      font-size: 16px;
      font-weight: 700;
      color: base.$blue;
      padding: 30px 30px 15px;
      text-transform: none;
    }
    p {
      padding: 0 30px 15px;
      color: #b3b3ba;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }
  &__line {
    height: 4px;
    width: 90%;
    padding: 0 30px;
    background-color: #b3b3ba;
    margin: 0 auto;
  }
}

// !MAIN ENDS

footer {
  background: #f5f5fa;
  .foot-wrapper {
    border-top: 2px solid #e6e6f0;
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;

    .footer-nav {
      display: flex;
      align-items: center;
      padding: 21px 0 30px;
      a {
        font-size: 16px;
        font-weight: 700;
      }

      a:nth-of-type(4):before {
        content: "";
      }
      a::before {
        content: "●";
        color: #b3b3ba;
        padding: 0 10px;
      }
    }

    .foot_map {
      display: flex;
      justify-content: space-between;
      padding-top: 30px;
      .foot_items {
        display: flex;
        align-items: baseline;
        span {
          font-size: 16px;
          color: base.$main-color;
        }
        > a {
          font-size: 12px;
          font-weight: 700;
          letter-spacing: 1px;
          text-transform: uppercase;
          color: base.$blue;
        }
        > a::before {
          content: "●";
          color: #b3b3ba;
        }
      }
      span {
        font-size: 16px;
        color: #b3b3ba;
      }
    }
  }
}

@media (max-width: 995px) {
  body {
    max-width: 995px;
  }
  .header {
    padding: 70px 0;
    .container {
      display: none;
    }
    .small-btn,
    .telmobile {
      color: white;
    }
  }
  .container-mobile {
    border-bottom-right-radius: 24px;
    display: flex;
    min-width: 335px;
    width: 100%;
    // height: 102px;
    margin: 0 auto;
    position: fixed;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
    overflow: hidden;
    background-color: #00329e;
    background-image: linear-gradient(
      225deg,
      #00329e 0%,
      #784ba0 50%,
      #2b86c5 100%
    );
    .flex.wrapper {
      display: block;
      width: 100%;
    }
    .first-row {
      display: flex;
      justify-content: space-between;
      padding: 15px 15px;
      background-color: inherit;
    }
    .buttons {
      display: flex;
      flex-direction: row;
    }
    .second-row {
      display: flex;
      max-width: 95vw;
      position: relative;
      z-index: 2;
      padding: 15px 15px;
      .logo-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: auto;
        width: 100%;
        max-width: 169px;
        a {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          p {
            color: base.$white;
            font-size: 36px;
            font-style: normal;
            line-height: normal;
          }
          svg {
            color: #c71c36;
          }
        }
      }
    }

    // Burger-start
    #menu__toggle {
      opacity: 0;
      &:checked {
        + .menu__btn > span {
          transform: rotate(45deg);
          background-color: #f0145a;
          &::before {
            top: 0;
            transform: rotate(0deg);
            background-color: #f0145a;
          }
          &::after {
            top: 0;
            transform: rotate(90deg);
            background-color: #f0145a;
          }
        }
        ~ .menu__box {
          right: 0 !important;
        }
      }
    }

    .menu__btn {
      position: fixed;
      top: 88px;
      right: 20px;
      width: 26px;
      height: 26px;
      cursor: pointer;
      z-index: 1;
      > span,
      span::before,
      span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: base.$white;
        transition-duration: 0.25s;
      }
      span {
        &::before {
          content: "";
          top: -8px;
        }
        &::after {
          content: "";
          top: 8px;
        }
      }
    }
    // .menu__btn > span::before {
    // }
    // .menu__btn > span::after {
    // }
    .menu__box {
      display: block;
      position: fixed;
      border-radius: 12px;
      bottom: 0;
      right: -130%;
      transform: translate(-9%, 0%);
      width: 85%;
      margin: 0;
      padding-top: 60px;
      list-style: none;
      background-color: base.$white;
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
      transition-duration: 0.25s;

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f5f5fa;
        border-radius: 12px;
        margin: 15px 12px;
        a {
          font-weight: 700;
        }
        &:active {
          background-color: #e6e6f0;
        }
      }
      li::before {
        content: "";
        a::before {
          content: "";
        }
      }
    }
    .menu__item {
      display: block;
      padding: 12px 24px;
      color: base.$blue;
      text-align: center;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-decoration: none;
      transition-duration: 0.25s;
      &.current {
        color: #f0145a;
      }
    }
    .menu__item:hover {
      background-color: #cfd8dc;
      transition: color 0.3s;
    }
  }

  main {
    padding-top: 40px;
  }
  .publications-cards {
    grid-template-columns: repeat(2, 1fr);
    &__card {
      height: 100%;
    }
    .lastcard {
      grid-column: 1/3;
    }
  }
}

@media (max-width: 800px) {
  .container-mobile .first-row {
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
    background-color: unset;
  }
}

@media (max-width: 640px) {
  .publications-cards {
    grid-template-columns: repeat(1, 1fr);
    .lastcard{
      grid-column: 1/2;
    }
  }
  .header {
    padding: 55px 0;
  }
  .container-mobile .second-row .logo-wrapper a p {
    font-size: 22px;
  }
  main .flex {
    padding-bottom: 30px;
    margin: 30px auto 0;
  }
}

@media (max-width: 500px) {
  .new-item
  h1 {
    font-size: 20px;
  }
  
.description
  h2, .publications-wrapper h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 16px;
  }
}
