@use "./base.scss";
@use "./main.scss";
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  vertical-align: baseline;
  box-sizing: border-box;

  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.header {
  // position: absolute;
  padding-top: 50px;
  width: 100%;
  color: white;
  background: #323264;
  border: none;
  .flex.wrapper {
    align-items: center;
    gap: 24px;
    justify-content: space-between;
    z-index: 2;
    .logo-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: auto;
      width: auto;
      // max-width: 169px;
      a {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        p {
          color: base.$white;
          font-size: 36px;
          font-style: normal;
          line-height: normal;
        }
        svg {
          color: #c71c36;
        }
      }
    }
  }
  .first-row {
    gap: 5px;
    align-items: center;
    ul {
      gap: 8px;
      margin-left: 8px;
      list-style-position: inside;
      align-items: center;

      li {
        svg {
          fill: red;
        }
      }
      img {
        width: 24px;
        height: 24px;
        vertical-align: top;
      }
    }
    nav {
      gap: 15px;
      margin-top: 20px;
      justify-content: flex-end;
    }
  }
  &.white {
    .small-btn {
      color: inherit;
    }
  }

  .flex.navigation a {
    padding: 0;
    margin: 10px 7px 0;
  }

  .flex.navigation a:nth-of-type(2) {
    background: linear-gradient(118deg, #f0145a 0%, #ef8080 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 2px solid red;
  }
  .flex.navigation a:last-of-type {
    margin-right: 0;
  }

  @media (max-width: 800px) {
    ul.flex {
      li {
        list-style: none;
        text-decoration: none;
      }
    }
  }
}

.main-container {
  max-width: 100vw;
  // overflow: hidden;
  // width: 100vw;
}
.services-wrapper {
  background: base.$gradient-supersoft;
  width: 100%;
  margin: 0 auto;
  border-radius: 0px 0px 12px 12px;
}
.services-section {
  max-width: 1600px;
  padding: 60px;

  margin: 0 auto;

  a {
    color: base.$blue;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    &:hover {
      color: base.$accent-color;
      transition: color 0.3s;
    }
  }
  h2 {
    background: base.$gradient-red-text;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0 0 60px;
  }
  .services-cards {
    h4 {
      font-size: 22px;
      font-weight: 700;
      color: base.$blue;
      padding: 30px 0 15px;
      text-transform: none;
    }

    p {
      font-size: 16px;
      line-height: 1.63;
      color: base.$white;
      text-transform: none;
    }

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 60px;
    a {
      &:hover {
        h4 {
          color: #f0145a;
        }
      }
    }
  }
  .services-icons {
    width: 100px;
    position: relative;
    height: 100px;
    border-radius: 24px;
    background-color: base.$white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.underline-first {
  width: 95%;
  height: 10px;
  border-radius: 0px 0px 12px 12px;
  background: #cacadb;
  margin: 0 auto;
  position: relative;
  top: 20px;
}
.underline-second {
  width: 90%;
  height: 10px;
  border-radius: 0px 0px 12px 12px;
  background: #e7e7f2;
  margin: 0 auto;
  position: relative;
  top: 20px;
}

.companies {
  max-width: 1720px;
  margin: 0 auto;
  padding-top: 80px;
  h3 {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: normal;
    text-transform: uppercase;
    padding-bottom: 30px;
    color: base.$main-color;
    text-align: center;
  }
  .company-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border-radius: 12px;
    max-width: 1720px;
  }
  .company-card {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
    &.wannabiz {
      img {
        max-height: 32px;
        width: auto;
      }
    }
    img {
      max-height: 48px;
      width: auto;
      padding: 5px 12px;
      object-fit: cover;
    }
  }
}
.company-card:nth-of-type(1) {
  background-color: #1c4280;
}
.company-card:nth-of-type(2) {
  background-color: #143646;
}
.company-card:nth-of-type(3) {
  background: linear-gradient(0deg, #f48b30 0%, #f48b30 100%), #f48b30;
}
.company-card:nth-of-type(4) {
  background-color: #9e4dc3;
}
.company-card:nth-of-type(5) {
  background-color: #fd9339;
}
.company-card:nth-of-type(6) {
  background-color: #e2e2e4;
}
.company-card:nth-of-type(7) {
  background-color: #c71c36;
}
.company-card:nth-of-type(8) {
  background-color: #dcf3f9;
}
.company-card:nth-of-type(9) {
  background-color: #eaeaea;
}
.company-card:nth-of-type(10) {
  background-color: #282240;
}
.company-card:nth-of-type(11) {
  background-color: #1d4568;
}
.company-card:nth-of-type(12) {
  background-color: #000;
}

footer {
  background: #f5f5fa;
  .foot-wrapper {
    border-top: 0;
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;

    .footer-nav {
      display: flex;
      align-items: center;
      padding: 21px 0 30px;
      a {
        font-size: 16px;
        font-weight: 700;
      }

      a:nth-of-type(4):before {
        content: "";
      }
      a::before {
        content: "●";
        color: #b3b3ba;
        padding: 0 10px;
      }
    }

    .foot_map {
      display: flex;
      justify-content: space-between;
      padding-top: 30px;
      .foot_items {
        display: flex;
        align-items: baseline;
        span {
          font-size: 16px;
          color: base.$main-color;
        }
        > a {
          font-size: 12px;
          font-weight: 700;
          letter-spacing: 1px;
          text-transform: uppercase;
          color: base.$blue;
        }
        > a::before {
          content: "●";
          color: #b3b3ba;
        }
      }
      span {
        font-size: 16px;
        color: #b3b3ba;
      }
    }
  }
}
@media (min-width: 1445px) {
  .companies {
    .company-items {
      border-radius: 12px;
      .company-card {
        &:nth-child(1) {
          border-top-left-radius: 12px;
        }
        &:nth-child(4) {
          border-top-right-radius: 12px;
        }
        &:nth-child(9) {
          border-bottom-left-radius: 12px;
        }
        &:nth-child(12) {
          border-bottom-right-radius: 12px;
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  .services-section {
    padding-top: 50px;
    .services-cards {
      p {
        padding-bottom: 25px;
      }
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-gap: 45px;
    }
  }
}

@media (max-width: 900px) {
  body {
    max-width: 900px;
  }
  .header {
    .container {
      display: none;
    }
  }
  .container-mobile {
    border-bottom-right-radius: 24px;
    display: flex;
    min-width: 335px;
    width: 100%;
    // height: 102px;
    margin: 0 auto;
    position: fixed;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
    overflow: hidden;
    background-color: #00329e;
    background-image: linear-gradient(
      225deg,
      #00329e 0%,
      #784ba0 50%,
      #2b86c5 100%
    );
    .flex.wrapper {
      display: block;
      width: 100%;
    }
    .first-row {
      display: flex;
      justify-content: space-between;
      padding: 15px 15px;
      background-color: inherit;
    }
    .buttons {
      display: flex;
      flex-direction: row;
    }
    .second-row {
      display: flex;
      max-width: 95vw;
      position: relative;
      z-index: 2;
      padding: 15px 15px;
      .logo-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: auto;
        width: 100%;
        max-width: 169px;
        a {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          p {
            color: base.$white;
            font-size: 36px;
            font-style: normal;
            line-height: normal;
          }
          svg {
            color: #c71c36;
          }
        }
      }
    }

    // Burger-start
    #menu__toggle {
      opacity: 0;
      &:checked {
        + .menu__btn > span {
          transform: rotate(45deg);
          background-color: #f0145a;
          &::before {
            top: 0;
            transform: rotate(0deg);
            background-color: #f0145a;
          }
          &::after {
            top: 0;
            transform: rotate(90deg);
            background-color: #f0145a;
          }
        }
        ~ .menu__box {
          right: 0 !important;
        }
      }
    }

    .menu__btn {
      position: fixed;
      top: 88px;
      right: 20px;
      width: 26px;
      height: 26px;
      cursor: pointer;
      z-index: 1;
      > span,
      span::before,
      span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: base.$white;
        transition-duration: 0.25s;
      }
      span {
        &::before {
          content: "";
          top: -8px;
        }
        &::after {
          content: "";
          top: 8px;
        }
      }
    }
    // .menu__btn > span::before {
    // }
    // .menu__btn > span::after {
    // }
    .menu__box {
      display: block;
      position: fixed;
      border-radius: 12px;
      bottom: 0;
      right: -130%;
      transform: translate(-9%, 0%);
      width: 85%;
      margin: 0;
      padding-top: 60px;
      list-style: none;
      background-color: base.$white;
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
      transition-duration: 0.25s;

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f5f5fa;
        border-radius: 12px;
        margin: 15px 12px;
        a {
          font-weight: 700;
        }
        &:active {
          background-color: #e6e6f0;
        }
      }
      li::before {
        content: "";
        a::before {
          content: "";
        }
      }
    }
    .menu__item {
      display: block;
      padding: 12px 24px;
      color: base.$blue;
      text-align: center;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-decoration: none;
      transition-duration: 0.25s;
      &.current {
        color: #f0145a;
      }
    }
    .menu__item:hover {
      background-color: #cfd8dc;
      transition: color 0.3s;
    }
  }
  .services-section {
    padding-top: 130px;
  }

  // Цветные фирмы-карточки
  .companies {
    .company-items {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }
  }
}

@media (max-width: 640px) {
  .header .flex.wrapper .logo-wrapper a p {
    color: #fff;
    font-size: 23px;
    font-style: normal;
    line-height: normal;
  }
  .companies {
    .company-items {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: auto;
    }
  }
  .container-mobile .second-row .logo-wrapper a p {
    font-size: 22px;
  }
  .services-section {
    padding: 100px 30px 0 30px;
    h2 {
      padding-bottom: 30px;
    }
    .services-cards {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: auto;
    }
  }

  .foot-wrapper-mobile {
    border-top: none;
  }
}
