@use "./base.scss";
@use "./main.scss";
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;

  text-decoration: none;
  vertical-align: baseline;
  box-sizing: border-box;

  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.header {
  background-color: #fff;
  position: absolute;
  padding-top: 50px;
  width: 100%;
  color: white;
  .flex.wrapper {
    align-items: center;
    gap: 24px;
    justify-content: space-between;
    z-index: 2;
  }
  .logo-wrapper {
    a {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      svg {
        color: base.$accent-color;
      }
      p {
        color: base.$main-color;
        font-size: 36px;
        font-style: normal;
        line-height: normal;
      }
    }
  }

  .first-row {
    gap: 5px;
    align-items: center;
    color: base.$gray-text;
    ul {
      gap: 8px;
      margin-left: 8px;
      list-style-position: inside;
      align-items: center;

      li {
        svg {
          color: base.$gray-text;
          &:hover {
            color: base.$accent-color;
            transition: color 0.3s;
          }
        }
      }
      img {
        width: 24px;
        height: 24px;
        vertical-align: top;
      }
    }
    nav {
      gap: 15px;
      margin-top: 20px;
      justify-content: flex-end;
    }
  }
    .small-btn {
      color: inherit;
      &.active {
        color: #fff;
      }
    }


  .flex {
    &.navigation {
      a {
        padding: 15px 0 0;
        margin-left: 10px;
        color: base.$blue;
        &:nth-of-type(3) {
          background: base.$gradient-red-text;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          border-bottom: 2px solid red;
        }
        &:hover {
          background: base.$gradient-red-text;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          transition: color 0.3s;
        }
        &:active {
          transform: scale(0.9);
        }
      }
      a:hover {
        color: red;
        transition: color 0.3s;
      }
    }
    a:hover {
      color: red;
      transition: color 0.3s;
    }
    li::before {
      content: "●";
      color: #b3b3ba;
      padding: 0 6px;
    }
    li {
      svg {
        fill: #b3b3ba;
      }
    }
  }
}

main {
  padding-top: 185px;
  width: 90%;
  margin: 0 auto;

  h1 {
    margin: 0 auto;
    padding: 0 0 60px;
    width: 80%;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: base.$gradient-red-text;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .team-card-wrapper {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    flex-wrap: wrap;
    max-width: 1440px;
  }
  .team-card {
    padding: 60px 15px;
    img {
      border-radius: 12px;
      max-height: 400px;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
    &__description {
      display: flex;
      justify-content: space-between;
      align-items: center;
      svg {
        color: base.$blue;
        &:hover {
          color: #f0145a;
          transition: color 0.3s;
        }
      }
    }
    &__about {
      a {
        &:hover {
          background: base.$gradient-red-text;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          transition: color 0.3s;
        }
        &:active {
          transform: scale(0.9);
        }
      }
    }
  }
}

footer {
  background: #f5f5fa;
  .foot-wrapper {
    border-top: 4px solid #b3b3ba;
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;

    .footer-nav {
      display: flex;
      align-items: center;
      padding: 21px 0 30px;
      a {
        font-size: 16px;
        font-weight: 700;
      }
      
      a:nth-of-type(1):before {
        content: "";
      }
      a::before {
        content: "●";
        color: #b3b3ba;
        padding: 0 10px;
      }
    }

    .foot_map {
      display: flex;
      justify-content: space-between;
      .foot_items {
        display: flex;
        align-items: baseline;
        span {
          font-size: 16px;
          color: base.$main-color;
        }
        > a {
          font-size: 12px;
          font-weight: 700;
          letter-spacing: 1px;
          text-transform: uppercase;
          color: base.$blue;
        }
        > a::before {
          content: "●";
          color: #b3b3ba;
        }
      }
      span {
        font-size: 16px;
        color: #b3b3ba;
      }
    }
  }
}

@media (max-width: 900px) {
  body {
    max-width: 900px;
  }
  .header {
    .container {
      display: none;
    }
  }
  // .container-mobile {
  //   display: flex;
  //   min-width: 335px;
  //   width: 100%;
  //   // height: 102px;
  //   margin: 0 auto;
  //   position: fixed;
  //   padding: 0;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   z-index: 4;
  //   overflow: hidden;
  //   .flex.wrapper {
  //     display: block;
  //     width: 100%;
  //   }
  //   .first-row {
  //     display: flex;
  //     justify-content: space-between;
  //     padding: 15px 15px;
  //     background-color: #f5f5fa;
  //   }
  //   .buttons {
  //     display: flex;
  //     flex-direction: row;
  //   }
  //   .second-row {
  //     display: flex;
  //     position: relative;
  //     z-index: 2;
  //     padding: 15px 15px;
  //     .logo-wrapper {
  //       display: flex;
  //       flex-direction: row;
  //       align-items: center;
  //       height: auto;
  //       width: 100%;
  //       max-width: 169px;
  //       a {
  //         display: flex;
  //         align-items: flex-start;
  //         justify-content: flex-start;
  //         svg {
  //           color: #f0145a;
  //         }
  //         p {
  //           color: base.$main-color;
  //           font-size: 36px;
  //           font-style: normal;
  //           line-height: normal;
  //         }
  //       }
  //     }
  //   }

  //   // Burger-start
  //   #menu__toggle {
  //     opacity: 0;
  //     &:checked {
  //       + .menu__btn > span {
  //         transform: rotate(45deg);
  //         background-color: #f0145a;
  //         &::before {
  //           top: 0;
  //           transform: rotate(0deg);
  //           background-color: #f0145a;
  //         }
  //         &::after {
  //           top: 0;
  //           transform: rotate(90deg);
  //           background-color: #f0145a;
  //         }
  //       }
  //       ~ .menu__box {
  //         right: 0 !important;
  //       }
  //     }
  //   }

  //   .menu__btn {
  //     position: fixed;
  //     top: 88px;
  //     right: 20px;
  //     width: 26px;
  //     height: 26px;
  //     cursor: pointer;
  //     z-index: 1;
  //     > span,
  //     span::before,
  //     span::after {
  //       display: block;
  //       position: absolute;
  //       width: 100%;
  //       height: 4px;
  //       background-color: base.$main-color;
  //       transition-duration: 0.25s;
  //     }
  //     span {
  //       &::before {
  //         content: "";
  //         top: -8px;
  //       }
  //       &::after {
  //         content: "";
  //         top: 8px;
  //       }
  //     }
  //   }
  //   .menu__box {
  //     display: block;
  //     position: fixed;
  //     border-radius: 12px;
  //     bottom: 0;
  //     right: -130%;
  //     transform: translate(-9%, 0%);
  //     width: 85%;
  //     margin: 0;
  //     padding-top: 60px;
  //     list-style: none;
  //     background-color: base.$white;
  //     box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  //     transition-duration: 0.25s;

  //     li {
  //       display: flex;
  //       justify-content: center;
  //       align-items: center;
  //       background-color: #f5f5fa;
  //       border-radius: 12px;
  //       margin: 15px 12px;
  //       a {
  //         font-weight: 700;
  //       }
  //       &:active {
  //         background-color: #e6e6f0;
  //       }
  //     }
  //     li::before {
  //       content: "";
  //       a::before {
  //         content: "";
  //       }
  //     }
  //   }
  //   .menu__item {
  //     display: block;
  //     padding: 12px 24px;
  //     color: base.$blue;
  //     text-align: center;
  //     font-size: 24px;
  //     font-style: normal;
  //     font-weight: 700;
  //     line-height: normal;
  //     text-decoration: none;
  //     transition-duration: 0.25s;
  //     &.current {
  //       color: #f0145a;
  //     }
  //   }
  //   .menu__item:hover {
  //     background-color: #cfd8dc;
  //     transition: color 0.3s;
  //   }
  // }
  .container-mobile {
    border-bottom-right-radius: 24px;
    display: flex;
    min-width: 335px;
    width: 100%;
    // height: 102px;
    margin: 0 auto;
    position: fixed;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
    overflow: hidden;
    background-color: #00329e;
    background-image: linear-gradient(
      225deg,
      #00329e 0%,
      #784ba0 50%,
      #2b86c5 100%
    );
    .flex.wrapper {
      display: block;
      width: 100%;
    }
    .first-row {
      display: flex;
      justify-content: space-between;
      padding: 15px 15px;
      background-color: inherit;
    }
    .buttons {
      display: flex;
      flex-direction: row;
    }
    .second-row {
      display: flex;
      max-width: 95vw;
      position: relative;
      z-index: 2;
      padding: 15px 15px;
      .logo-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: auto;
        width: 100%;
        max-width: 169px;
        a {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          p {
            color: base.$white;
            font-size: 36px;
            font-style: normal;
            line-height: normal;
          }
          svg {
            color: #c71c36;
          }
        }
      }
    }

    // Burger-start
    #menu__toggle {
      opacity: 0;
      &:checked {
        + .menu__btn > span {
          transform: rotate(45deg);
          background-color: #f0145a;
          &::before {
            top: 0;
            transform: rotate(0deg);
            background-color: #f0145a;
          }
          &::after {
            top: 0;
            transform: rotate(90deg);
            background-color: #f0145a;
          }
        }
        ~ .menu__box {
          right: 0 !important;
        }
      }
    }

    .menu__btn {
      position: fixed;
      top: 88px;
      right: 20px;
      width: 26px;
      height: 26px;
      cursor: pointer;
      z-index: 1;
      > span,
      span::before,
      span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: base.$white;
        transition-duration: 0.25s;
      }
      span {
        &::before {
          content: "";
          top: -8px;
        }
        &::after {
          content: "";
          top: 8px;
        }
      }
    }
    // .menu__btn > span::before {
    // }
    // .menu__btn > span::after {
    // }
    .menu__box {
      display: block;
      position: fixed;
      border-radius: 12px;
      bottom: 0;
      right: -130%;
      transform: translate(-9%, 0%);
      width: 85%;
      margin: 0;
      padding-top: 60px;
      list-style: none;
      background-color: base.$white;
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
      transition-duration: 0.25s;

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f5f5fa;
        border-radius: 12px;
        margin: 15px 12px;
        a {
          font-weight: 700;
        }
        &:active {
          background-color: #e6e6f0;
        }
      }
      li::before {
        content: "";
        a::before {
          content: "";
        }
      }
    }
    .menu__item {
      display: block;
      padding: 12px 24px;
      color: base.$blue;
      text-align: center;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-decoration: none;
      transition-duration: 0.25s;
      &.current {
        color: #f0145a;
      }
    }
    .menu__item:hover {
      background-color: #cfd8dc;
      transition: color 0.3s;
    }
  }
}
